<div class="row">
    <div class="col-md-12">
        <div class="company_btn float-right">
            <!-- <button *ngIf="allowedPages.Search_Member" type="button" class="simple_btn" role="navigation" [routerLink]="['/member']">
                     Back to Search</button> -->
            <button *ngIf="allowedPages.Save" class="save" type="button" (click)="onAddActivity()">
                Add Activity</button>
        </div>
    </div>
</div>
<div class="white_bg info_bar_bg">
    <person-info *ngIf="shouldGetPersonInfo"></person-info>
</div>
<div class="white_bg">
    <div class="activities">
        <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
            <mat-tab label="{{activityTypes.All}}">
                <ng-template mat-tab-label>
                    {{activityTypes.All}}
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.Call}}">
                <ng-template mat-tab-label>
                    {{activityTypes.Call + 's'}}
                    <!-- <span class="activity_count">{{activityCount.CallCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.Appointment}}">
                <ng-template mat-tab-label>
                    {{activityTypes.Appointment + 's'}}
                    <!-- <span class="activity_count">{{activityCount.AppointmentCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.Email}}">
                <ng-template mat-tab-label>
                    {{activityTypes.Email + 's'}}
                    <!-- <span class="activity_count">{{activityCount.EmailCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.SMS}}">
                <ng-template mat-tab-label>
                    {{activityTypes.SMS}}
                    <!-- <span class="activity_count">{{activityCount.SMSCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.Note}}">
                <ng-template mat-tab-label>
                    {{activityTypes.Note + 's'}}
                    <!-- <span class="activity_count">{{activityCount.NoteCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.MemberMessage}}">
                <ng-template mat-tab-label>
                    {{activityTypes.MemberMessage + 's'}}
                    <!-- <span class="activity_count">{{activityCount.MemberMessageCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.Achievements}}">
                <ng-template mat-tab-label>
                    {{activityTypes.Achievements + 's'}}
                    <!-- <span class="activity_count">{{activityCount.MemberAchievementsCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
            <mat-tab label="{{activityTypes.AppNotification}}">
                <ng-template mat-tab-label>
                    {{activityTypes.AppNotification + 's'}}
                    <!-- <span class="activity_count">{{activityCount.AppNotificationCount}}</span> -->
                </ng-template>
                <div *ngTemplateOutlet="activities"></div>
            </mat-tab>
        </mat-tab-group>
        <div class="pagination">
            <div class="col-md-12 no_padding">
                <mat-paginator #paginator [length]="totalRecords" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPageChange($event)" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <ng-template #activities>
        <div class="small_space"></div>
        <div *ngIf="isDataExists">
            <div class="media activity_bg center_flex_alignment" *ngFor="let activity of allActivities" [ngClass]="{
                    'dark_green': activity.ActivityTypeID == activityType.Appointment,
                    'reddish': activity.ActivityTypeID == activityType.Call,
                    'blue': activity.ActivityTypeID == activityType.Email,
                    'perpall': activity.ActivityTypeID == activityType.Note,
                    'app_noti': activity.ActivityTypeID == activityType.AppNotification,
                    'sms': activity.ActivityTypeID == activityType.SMS,
                    'achievement': activity.ActivityTypeID == activityType.Achievement,
                    'membermessage': activity.ActivityTypeID == activityType.MemberMessage
                 }">
                <div class="mr-3">
                    <div class="activity_icons" [ngClass]="{
                                                    'appointment': activity.ActivityTypeID == activityType.Appointment,
                                                    'call': activity.ActivityTypeID == activityType.Call,
                                                    'email': activity.ActivityTypeID == activityType.Email,
                                                    'note': activity.ActivityTypeID == activityType.Note,
                                                    'app_notification': activity.ActivityTypeID == activityType.AppNotification,
                                                    'sms': activity.ActivityTypeID == activityType.SMS,
                                                    'achievement': activity.ActivityTypeID == activityType.Achievement,
                                                    'membermessage': activity.ActivityTypeID == activityType.MemberMessage
                                                 }">
                        <i class="fal" aria-hidden="true" [ngClass]="{
                                                 'fa-calendar-alt': activity.ActivityTypeID == activityType.Appointment,
                                                 'fa-phone fa-flip-horizontal': activity.ActivityTypeID == activityType.Call,
                                                 'fa-envelope': activity.ActivityTypeID == activityType.Email,
                                                 'fa-clipboard': activity.ActivityTypeID == activityType.Note,
                                                 'fa-calendar-check': activity.ActivityTypeID == activityType.AppNotification,
                                                 'fa-sms': activity.ActivityTypeID == activityType.SMS,
                                                 'fa-trophy': activity.ActivityTypeID == activityType.Achievement,
                                                 'fa-comment': activity.ActivityTypeID == activityType.MemberMessage
                                            }"></i>
                    </div>
                </div>
                <div class="media-body  activity_note">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 no_padding">
                            <div class="floating">
                                <h6 [ngClass]="{
                                    'dark_green_title': activity.ActivityTypeID == activityType.Appointment,
                                    'reddish_title': activity.ActivityTypeID == activityType.Call,
                                    'blue_title': activity.ActivityTypeID == activityType.Email,
                                    'perpall_title': activity.ActivityTypeID == activityType.Note,
                                    'app_noti_title': activity.ActivityTypeID == activityType.AppNotification,
                                    'sms_title': activity.ActivityTypeID == activityType.SMS,
                                    'achievement_title': activity.ActivityTypeID == activityType.Achievement,
                                    'membermessage_title': activity.ActivityTypeID == activityType.MemberMessage
                                 }">{{activity.ActivityTypeName}} {{activity.ActivitySubTypeName? '(' + activity.ActivitySubTypeName +')':''}}</h6>
                            </div>
                            <!-- <p style="float:left;">
                                    {{activity.ActivityTypeID == activityType.Email ? activity.EmailBody : activity.Description}}
                                </p> -->
                            <div class="act_icon text-right">
                                <div class="activity_actions">
                                    <span class="genral_cls"
                                        *ngIf="(activity.ActivityOutComeName && activity.ActivityOutComeName !== '')">
                                        <b>Outcome:</b> {{activity.ActivityOutComeName}}
                                    </span>
                                    <span class="genral_cls"
                                        *ngIf="(activity.ActivityWhatNextName && activity.ActivityWhatNextName !== '')">
                                        <b>What Next:</b> {{activity.ActivityWhatNextName}}
                                    </span>
                                    <span class="genral_cls"
                                        *ngIf="(activity.ContactReasonTypeName && activity.ContactReasonTypeName !== '')">
                                        <b>Contact Reason:</b> {{activity.ContactReasonTypeName}}
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <h4 class="activity_title">
                                {{activity.ActivityTypeID == activityType.Email ? activity.EmailSubject :
                                activity.Title}}
                            </h4>
                            <p class="custom_p"
                                [innerHTML]="activity.ActivityTypeID == activityType.Email ? activity.EmailBody : activity.Description">
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 no_padding">
                            <h5 class="floating">
                                <span *ngIf="(activity.AssignedToStaffName && activity.AssignedToStaffName !== '')">
                                    <i class="fal fa-user"></i> Assigned To:
                                    {{activity.AssignedToStaffName}}
                                </span>
                                <span *ngIf="activity.CreatedOn">
                                    <i class="fal fa-clock"></i> Created On:
                                    {{activity.CreatedOn | customdate : dateFormat}}
                                    {{activity.StartTime?'-':''}}
                                    {{activity.StartTime}}
                                </span>
                                <span *ngIf="activity.ModifiedOn">
                                    <i class="fal fa-clock"></i> Last Updated:
                                    {{activity.ModifiedOn | customdate : dateFormat}}
                                    {{activity.ModifiedTime?'-':''}}
                                    {{activity.ModifiedTime}}
                                </span>
                                <span *ngIf="activity.FollowUpDate">
                                    <i class="fal fa-calendar" aria-hidden="true"></i> Follow Up:
                                    {{activity.FollowUpDate
                                    | customdate : dateFormat}} {{activity.FollowUpEndTime?'-':''}}
                                    {{activity.FollowUpEndTime | branchTimeFormat}} &nbsp;
                                </span>
                            </h5>
                            <div class="grid_rows float-right act_icon" style="border:none">
                                <h5 style="padding: 0 !important;">
                                    <!--Mark As Complete Icon-->
                                    <span class="green" *ngIf="allowedPages.Save && activity.ShowMarkAsDoneIcon">
                                        <a matTooltip="Mark as done" matTooltipPosition="above"
                                            matTooltipClass="custom-tooltip"
                                            (click)="onActivityMarkAsDone(activity.CustomerActivityID, activity.ActivityTypeID)"
                                            href="javascript:void(0)">
                                            <i class="fal fa-check-circle"></i>
                                        </a>
                                    </span>
                                    <!-- Edit Icon -->
                                    <span class="blue" *ngIf="allowedPages.Save && activity.ShowEditIcon">
                                        <a matTooltip="Edit" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                            (click)="onEditActivity(activity.CustomerActivityID, activity.ActivityTypeID,activity.ActivitySubTypeID)"
                                            href="javascript:void(0)">
                                            <i class="fal fa-edit"></i>
                                        </a>
                                    </span>
                                    <!--Delete Icon-->
                                    <span class="red_del" *ngIf="allowedPages.Save && activity.ShowDeleteIcon">
                                        <a matTooltip="Delete" matTooltipPosition="above"
                                            matTooltipClass="custom-tooltip"
                                            (click)="onDeleteActivity(activity.CustomerActivityID, activity.ActivityTypeID)"
                                            href="javascript:void(0)">
                                            <i class="fal fa-trash-alt"></i>
                                        </a>
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isDataExists">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <h5 class="no_record_found">{{messages.Generic_Messages.No_Record_Found}}</h5>
                </div>
            </div>
        </div>
    </ng-template>
</div>