<!-- <div class="page_content">
    <div class="row">
        <div class="col-md-12">
            <div class="company_btn float-right">
                <button type="button" role="navigation" [routerLink]="['/client']">
                     Back to Search</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="white_bg">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <h4>Client Info</h4>
                </div>
            </div>
        </div>
        <person-info [personTypeInfo]="personInfo" *ngIf="shouldGetPersonInfo"></person-info>
    </div>

</div> -->

<sale-history></sale-history>
