<div class="row">
    <div class="col-md-12 col-sm-12">

        <div class="row welcome_page center_flex_alignment">
            <div class="col-lg-6 col-md-12 text-center home_slider">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide ">
                        <div class="welcome_page_content">
                            <div class="promote_products">
                                <h2>"It is better to fail in originality than to <br /> succeed in imitation." </h2>
                                <p>Herman Melville</p>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="welcome_page_content">
                            <div class="promote_products">
                                <h2>"Success is not final. Failure is not fatal. It is the courage to continue
                                    that counts." </h2>
                                <p>Winston S. Churchill</p>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="welcome_page_content">
                            <div class="promote_products">
                                <h2>"The road to success and the road to failure are almost exactly the same."
                                </h2>
                                <p>Colin R. Davis</p>
                            </div>

                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="welcome_page_content">
                            <div class="promote_products">
                                <h2>"Success usually comes to those who are too busy to be looking for it."
                                </h2>
                                <p>Henry David Thoreau</p>
                            </div>

                        </div>
                    </div>

                </ngx-slick-carousel>
            </div>
            <div class="col-lg-6 col-md-9 text-center"> <img src="assets/images/main-right-bg.png" alt="Image"></div>
        </div>
    </div>
</div>
