<form #appNotificationForm="ngForm" novalidate>
    <div class="popup_content">
        <div class="row sch_white_bg">
            <div class="col-md-12 col-sm-12 no_padding">
                <div class="alert alert-danger" *ngIf="appNotificationForm.invalid && isInvalidData">
                    {{messages.Validation.Info_Required}}
                </div>
            </div>

            <div *ngIf="personInfo" class="col-md-12 col-sm-12 no_padding">
                <div *ngTemplateOutlet="personinfo"></div>
            </div>
            <div class="col-md-6">
                <h5 class="form_label">Title</h5>
                <div [ngClass]="{
                           'has-danger': appNotificationTitle.invalid && (appNotificationTitle.dirty || appNotificationTitle.touched || isInvalidData),
                           'has-success': appNotificationTitle.valid && (appNotificationTitle.dirty || appNotificationTitle.touched)
                        }">
                    <input class="form-control" type="text" name="txtAppNotificationTitle" [(ngModel)]="appNotificationModel.Title"
                        #appNotificationTitle="ngModel" maxlength="50" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="field_label">
                    <h5>Contact Reason</h5>
                </div>
                <div class="select_label">
                    <select class="form-control" name="appNotificationContactReason" [(ngModel)]="appNotificationModel.ContactReasonTypeID"
                        #appNotificationContactReasonTypeID="ngModel" required>
                        <option *ngFor="let contactReasonType of contactReasonTypeList" [ngValue]="contactReasonType.ContactReasonTypeID">
                            {{contactReasonType.ContactReasonTypeName}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="field_label">
                    <h5>SMS Template</h5>
                </div>
                <div class="select_label">
                    <select class="form-control" name="txtTemplateTextID" [(ngModel)]="selectedTemplate"
                        (ngModelChange)="onTemplateChange(selectedTemplate)" #templateTextID="ngModel">
                        <option *ngFor="let template of templateTextList" [ngValue]="template">
                            {{template.TemplateTextTitle}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="col-md-12">
                <h5 class="field_label">
                    Text <span>(Remaining Characters: {{ 250 - appNotificationModel?.Description?.length}})</span>
                </h5>
                <div [ngClass]="{
                           'has-danger': appNotificationDescription.invalid && (appNotificationDescription.dirty || appNotificationDescription.touched || isInvalidData),
                           'has-success': appNotificationDescription.valid && (appNotificationDescription.dirty || appNotificationDescription.touched)
                         }">
                    <textarea class="form-control form-control-description" rows="9" name="txtAppNotificationDescription"
                        #appNotificationDescription="ngModel" [(ngModel)]="appNotificationModel.Description" maxlength="250"
                        required>
                </textarea>
                </div>
            </div>
        </div>
    </div>
</form>