<!--View Member Pop Up Start-->
<div class="view_staff_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog-centered">
        <div class="modal-content medium_popup">
            <div class="popup_header">
                <h4>View Gateway</h4>
            </div>
            <div class="popup_content">
                <div class="popup_white_bg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="field_label">
                                <h5>Membership</h5>
                            </div>
                            <div class="select_label">
                                <select>
                                    <option>
                                        Gold
                                    </option>
                                    <option>
                                            Gold
                                        </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row popup_footer">
                <div class="col-md-12">
                    <div class="cancel_btn float-right">
                        <button type="button" (click)="onCloseDialog()">Close</button>
                        <button type="button" class="primary_blue_btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--View Member Pop Up End-->