<form #schedulerCallFormData="ngForm" (ngSubmit)="saveSchedulerCall(schedulerCallFormData.valid)" novalidate>
    <div class="popup_content cstm_scroll_bg sch_service_scroll no_padding">
        <div class="row">
            <div class="col-md-12">
                <div class="row sch_white_bg" *ngIf="!isClientReadonly">
                    <div class="col-lg-3 col-md-6">
                        <div
                            [ngClass]="{'has-danger': ((searchClientControl.invalid || !searchClientControl.value || searchClientControl.value == '') && (schedulerCallFormData.dirty || schedulerCallFormData.touched || schedulerCallFormData.submitted)) }">
                            <input class="form-control zero_margin" type="text" placeholder="Search Customer" matInput
                                [formControl]="searchClientControl" [matAutocomplete]="autoName"
                                [value]="selectedClient?.FullName" name="FullName" (change)="setFormAsDirty()"
                                maxlength="30" required>
                            <mat-autocomplete #autoName="matAutocomplete" [displayWith]="displayClientName"
                                (optionSelected)='getSelectedClient($event.option.value)'>
                                <mat-option *ngFor="let client of clientList" [value]="client">
                                    <span class="client_name">{{ client.FullName }}</span>
                                    <small class="client_type float-right">{{client.CustomerTypeName}}</small>
                                    <br>
                                    <span class="client_info">{{ client.Email }}</span>
                                    <br>                                   
                                    <span class="client_info">{{ client.Mobile }}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>
                <div class="row sch_white_bg activity_person_info" *ngIf="isClientReadonly">
                    <div class="col-md-3">
                        <label class="field_label zero_margin"><i class="fal fa-user"
                                aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.FullName}}</label>
                                <span class="enq_status">{{selectedClient?.CustomerTypeName}}</span>
                    </div>
                    <div class="col-md-3">
                        <label class="field_label zero_margin"> <i class="fal fa-envelope"
                                aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.Email}}</label>
                    </div>
                    <div class="col-md-3" *ngIf="selectedClient?.Mobile">
                        <label class="field_label zero_margin"><i class="fal fa-mobile"
                                aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.Mobile}}</label>
                    </div>
                    <div [ngClass]="selectedClient?.Mobile ? 'col-md-3' : 'col-md-6'" class="text-right sch_badge">
                        <p class="no_padding">
                            <a class="sch_service_close_btn" *ngIf="_cellDataSelection.id === 0" matTooltip="Change customer" matTooltipPosition="above"
                                matTooltipClass="custom-tooltip" (click)="showSearchClient()"><i
                                    class="fal fa-times-circle"></i>
                            </a>
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row sch_mob_reverse">
            <div class="col-lg-3 col-md-4 sm-pr-15 parallel_grid padding_right">
                <div class="sch_white_bg smallScheduler schedulerHeight" >
                    <one-day-scheduler [dayViewFormat]="dayViewFormat"
                        [staffID]="callActivityViewModel.AssignedToStaffID" *ngIf="isShowScheduler" [startDate]="currentDate"
                        [schedulerTimeFormat]="schedulerTimeFormat" #onedaySchedulerComp></one-day-scheduler>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 parallel_grid">
                <div class="sch_white_bg pt-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="alert alert-danger" *ngIf="isShowError">{{dateTimeCompareError}}</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label">Select Date</h5>
                            <date-picker [value]="currentDate" *ngIf="currentDate" [required]="true" [showClear]="false"
                                (onDateChange)="onSelectDate_valueChanged($event)">
                            </date-picker>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label sch_lab">Call Title</h5>
                            <div
                                [ngClass]="{'has-danger': (Title.invalid || !Title.value || Title.value == '') && (Title.dirty || Title.touched ||schedulerCallFormData.submitted)}">
                                <input type="text" class="form-control" name="Title"
                                    [(ngModel)]="callActivityViewModel.Title" #Title="ngModel" maxlength="50" required>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label sch_lab">Staff</h5>
                            <div class="select_label">
                                <select class="form-control" [(ngModel)]="callActivityViewModel.AssignedToStaffID"
                                    name="AssignedToStaffID" #AssignedToStaffID="ngModel"
                                    (ngModelChange)="onStaffChange(callActivityViewModel.AssignedToStaffID)">
                                    <option *ngFor="let staff of staffList" [ngValue]="staff.StaffID">
                                        {{staff.StaffFullName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label sch_lab">Start Time</h5>
                            <dx-date-box class="full_width" type="time" [displayFormat]="schedulerTimeFormat"
                                [interval]="15" [(value)]="callActivityViewModel.FollowUpStartTime"
                                (onValueChanged)="startDateChangeEvent($event)" [showClearButton]="true"
                                [useMaskBehavior]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="start time is required">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label sch_lab">End Time</h5>
                            <dx-date-box class="full_width" type="time" [displayFormat]="schedulerTimeFormat"
                                [interval]="15" [(value)]="callActivityViewModel.FollowUpEndTime"
                                (onValueChanged)="endDateChangeEvent($event)" [showClearButton]="true"
                                [useMaskBehavior]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="end time is required">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-date-box>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h5 class="field_label sch_lab">Contact Reason</h5>
                            <div
                                [ngClass]="{'has-danger': MemberContactReasonTypeID.invalid && (MemberContactReasonTypeID.dirty || MemberContactReasonTypeID.touched)}">
                                <div class="select_label">
                                    <select class="form-control" name="callContactReason"
                                        [(ngModel)]="callActivityViewModel.ContactReasonTypeID"
                                        #MemberContactReasonTypeID="ngModel" required>
                                        <option *ngFor="let memberContactReasonType of memberContactReasonTypeList"
                                            [ngValue]="memberContactReasonType.ContactReasonTypeID">
                                            {{memberContactReasonType.ContactReasonTypeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="field_label sch_lab">Note <span>(Remaining Characters: {{ 250 -
                                    callActivityViewModel?.Description?.length }})</span></h5>
                            <textarea class="form-control form-control-description" rows="5"
                                [(ngModel)]="callActivityViewModel.Description" name="Description"
                                #Description="ngModel" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row popup_footer">
        <div class="col-md-12">
            <div class="cancel_btn float-right">
                <button type="button" (click)="onCloseSchedulerCallPopup()">Cancel</button>
                <button type="submit" class="save primary_blue_btn" [disabled]="isSaveButtonDisabled">Save</button>
            </div>
            <div class="small_space"></div>
        </div>
    </div>
</form>