<div aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-lg">
    <div class="medium_popup">
      <div class="popup_header">
        <h4>Email</h4>
      </div>
      <form #emailForm="ngForm" novalidate>
        <div class="popup_content add_activity_height cstm_scroll_bg">
          <div class="row">
            <div class="col-md-12 col-sm-12 no_padding">
              <div class="alert alert-danger" *ngIf="emailForm.invalid && isInvalidData">
                {{messages.Validation.Info_Required}}
              </div>
            </div>
            <div *ngIf="personInfo" class="col-md-12 col-sm-12 activity_bar_info">
              <div *ngTemplateOutlet="personinfo"></div>
            </div>
          </div>

          <div class="sch_white_bg">
          <div class="row">
            <div class="col-md-12">
              <h5 class="field_label">Subject</h5>
              <div [ngClass]="{
                      'has-danger': emailSubject.invalid && (emailSubject.dirty || emailSubject.touched || isInvalidData),
                      'has-success': emailSubject.valid && (emailSubject.dirty || emailSubject.touched)
                   }">
                <input class="form-control" type="text" name="emailSubject" [(ngModel)]="emailModel.EmailSubject"
                  #emailSubject="ngModel" maxlength="50" required tabindex="3" />
              </div>
            </div>
            <div class="col-md-6 col-sm-6" *ngIf="emailModel.CustomerTypeID !== 4">
              <div class="field_label">
                <h5>Contact Reason</h5>
              </div>
              <div [ngClass]="{
                     'has-danger': emailContactReasonTypeID.invalid && (emailContactReasonTypeID.dirty || emailContactReasonTypeID.touched || isInvalidData),
                      'has-success': emailContactReasonTypeID.valid && (emailContactReasonTypeID.dirty || emailContactReasonTypeID.touched)
                   }">
                <div class="select_label">
                  <select class="form-control" name="emailContactReason" [(ngModel)]="emailModel.ContactReasonTypeID"
                    #emailContactReasonTypeID="ngModel" required tabindex="2">
                    <option *ngFor="let memberContactReasonType of memberContactReasonTypeList"
                      [ngValue]="memberContactReasonType.ContactReasonTypeID">
                      {{memberContactReasonType.ContactReasonTypeName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div [ngClass]="emailModel.CustomerTypeID !== 4 ? 'col-md-6 col-sm-6': 'col-md-12 col-sm-12'">
              <div class="field_label">
                <h5>Template</h5>
              </div>
              <div class="select_label">
                <select class="form-control" name="txtTemplateTextID" [(ngModel)]="selectedTemplate"
                  (ngModelChange)="onTemplateChange(selectedTemplate)" #templateTextID="ngModel" tabindex="1">
                  <option *ngFor="let template of templateTextList" [ngValue]="template">
                    {{template.TemplateTextTitle}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 email_editor_items">
              <h5 class="field_label">Text
                <span>(Remaining Characters: {{ 2500 - emailModel?.EmailBody?.length}})</span>
              </h5>
              <div [ngClass]="{
                                    'has-danger': (emailBody.invalid && isInvalidData) || isInvalidEmailBody
                                }">
                <email-editor [value]="emailModel?.EmailBody" (onEmailBodyChange)="onEmailBodyChange($event)">
                </email-editor>
              </div>
              <input type="text" name="emailBody" #emailBody="ngModel" [(ngModel)]="emailModel.EmailBody" required
                [maxlength]="emailMaxLength" style="display: none" />
            </div>
          </div>
          </div>

        </div>
        <div class="row popup_footer">
            <div class="col-md-12">
              <div class="cancel_btn float-right ">
                <button type="button" (click)="onCloseDialog()">Cancel</button>
                <button  class="save primary_blue_btn" (click)="onSave()">Send</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Person Info Template -->
<ng-template #personinfo>
  <div class="view_main_bar sl-limit-content">
    <div class="column_flex_alignment">
        <div><i class="fal fa-user"></i></div>
        <h2 class="view_main_bar_item">{{personInfo.Name}}</h2>
    </div>
    <div><span class="enq_status">{{personInfo.CustomerTypeName}}</span></div>
    <div *ngIf='personInfo.Mobile' class="view_main_bar_item"><i class="fal fa-mobile-alt"></i> {{personInfo.Mobile}}</div>
    <div class="view_main_bar_item"><i class="fal fa-envelope"></i> {{personInfo.Email}}</div>
  </div>
</ng-template>
