<div [ngClass]="{
  'popup_white_bg': popupMode,
  'page_content': !popupMode
}">
  <form #saveLeadFormData="ngForm" (ngSubmit)="onSaveLead(saveLeadFormData.valid)" novalidate>
    <div class="row" *ngIf="!popupMode">
      <div class="col-md-12">
        <div class="company_btn float-right">
          <!-- <button type="button" class="simple_btn" role="navigation" [routerLink]="['/lead']">
                        Back to Search
                    </button> -->
          <button type="button" class="simple_btn" (click)="onReset()">
            Reset
          </button>
          <button [disabled]="saveLeadFormData.pristine" class="save" tabindex="38">
            Save
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div [ngClass]="{
    'white_bg right_left_zero': !popupMode
}">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-danger" *ngIf="saveLeadFormData.invalid && saveLeadFormData.submitted">
            {{ getErrorMessage(saveLeadFormData) }}
            <!-- <div *ngIf="saveLeadFormData.invalid || showValidationMessage">
                        {{messages.Validation.Info_Required}}
                    </div>
                    <div *ngIf="Email?.errors?.pattern">
                        {{messages.Validation.Email_Invalid}}
                    </div>
                    <div *ngIf="Mobile?.errors || Phone?.errors ">
                        {{messages.Validation.Phone_Invalid}}
                    </div> -->
          </div>
          <div class="alert alert-danger" *ngIf="isLeadWonOrLost">
            This lead has been {{saveLeadDataObj.LeadStatusTypeID === leadStatusType.Won ? 'Won' : 'Lost'}} and
            cannot be updated.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="section_title">
            <h4>Personal Information</h4>
          </div>
        </div>
      </div>
      <div class="row tab-col-rev mob-col-rev">
        <div class="col-lg-9 col-md-12 no_padding">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label">
                <h5>Email<span *ngIf="saveLeadDataObj.CustomerID > 0" class="float-right"><a
                      class="edit_mail float-right" href="javascript:void(0)" (click)="editCustomerEmailDialog()">Edit
                      Email</a></span></h5>
              </div>
              <div [ngClass]="{
                                        'has-danger': Email.invalid && (Email.dirty || Email.touched || saveLeadFormData.submitted),
                                        'has-success': Email.valid && (Email.dirty || Email.touched ) }">
                <input type="text" required class="form-control" name="Email" [(ngModel)]="saveLeadDataObj.Email"
                  #Email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,10})$"
                  maxlength="50" tabindex="1" (blur)="onEmailUpdated()" [disabled]="saveLeadDataObj.CustomerID > 0" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="row">
                <div class="col-md-5 col-sm-4 no_padding">
                  <div class="field_label">
                    <h5>Title <span>(optional)</span></h5>
                  </div>
                  <div>
                    <div class="select_label">
                      <select class="form-control" name="Title" [(ngModel)]="saveLeadDataObj.Title" #Title="ngModel"
                        tabindex="2">
                        <option [ngValue]="undefined">
                          Select Title
                        </option>
                        <option *ngFor="let title of titleList" [ngValue]="title">
                          {{title}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 col-sm-8 padding_right">
                  <div class="field_label">
                    <h5>First Name</h5>
                  </div>
                  <div [ngClass]="{
                         'has-danger': FirstName.invalid && (FirstName.dirty || FirstName.touched ||saveLeadFormData.submitted),
                         'has-success': FirstName.valid && (FirstName.dirty || FirstName.touched )
                            }">
                    <input type="text" required class="form-control" name="FirstName"
                      [(ngModel)]="saveLeadDataObj.FirstName" #FirstName="ngModel" maxlength="30" (blur)="trimName()"
                      tabindex="3" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label">
                <h5>Last Name </h5>
              </div>
              <div [ngClass]="{
                         'has-danger': LastName.invalid && (LastName.dirty || LastName.touched ||saveLeadFormData.submitted),
                         'has-success': LastName.valid && (LastName.dirty || LastName.touched )
                            }">
                <input type="text" class="form-control" name="LastName" [(ngModel)]="saveLeadDataObj.LastName"
                  #LastName="ngModel" (blur)="trimName()" tabindex="4" required />
              </div>
            </div>

            <!-- <div class="col-md-4">
                            <div class="field_label ">
                                <h5>Date Of Birth <span>(optional)</span> </h5>
                            </div>
                            <input name="BirthDate" class="form-control date-picker bg_transparent" [(ngModel)]="saveLeadDataObj.BirthDate"
                                #BirthDate="ngModel" [max]="maxDate" matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY"
                                 readonly />
                            <span *ngIf="saveLeadDataObj.BirthDate" (click)="onBirthDateChange()" class="clear_dob"></span>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-datepicker-toggle class="date-picker-toggle" matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                        </div> -->

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label">
                <h5>Gender <span>(optional)</span></h5>
              </div>
              <div>
                <div class="select_label">
                  <select class="form-control" name="Gender" [(ngModel)]="saveLeadDataObj.Gender" #Gender="ngModel"
                    tabindex="5">
                    <option [ngValue]="undefined">
                      Select Gender
                    </option>
                    <option *ngFor="let gender of genderList" [ngValue]="gender">
                      {{gender}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label ">
                <h5>Date of Birth <span>(optional)</span> </h5>
              </div>
              <!-- <input name="BirthDate" class="form-control date-picker bg_transparent" [(ngModel)]="saveLeadDataObj.BirthDate"
                                #BirthDate="ngModel" [max]="maxDate" matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY"
                                 readonly />
                            <span *ngIf="saveLeadDataObj.BirthDate" (click)="onBirthDateChange()" class="clear_dob"></span>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-datepicker-toggle class="date-picker-toggle" matSuffix [for]="picker">
                            </mat-datepicker-toggle> -->
              <date-picker [value]="saveLeadDataObj.BirthDate" [attr.tabindex]="6" [max]="maxDate"
                (onDateChange)="onBirthDateChange($event)"></date-picker>

              <!-- <div class="col-md-9 col-sm-9 padding_right">
                                <div class="field_label">
                                    <h5>Source <span>(optional)</span></h5>
                                </div>
                                <div class="select_label">
                                    <select class="form-control" name="EnquirySourceTypeID"
                                        [(ngModel)]="saveLeadDataObj.EnquirySourceTypeID" #Source="ngModel"
                                        tabindex="7">
                                        <option [ngValue]="undefined"> Select Source</option>
                                        <option *ngFor="let EnquirySourceObj of enquirySourceTypeList"
                                            [ngValue]="EnquirySourceObj.EnquirySourceTypeID">
                                            {{EnquirySourceObj.EnquirySourceTypeName}}
                                        </option>
                                    </select>
                                </div>
                            </div> -->

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label">
                <h5>Mobile <span>(optional)</span></h5>
              </div>
              <div [ngClass]="{
                                      'has-danger': Mobile.invalid && (Mobile.dirty || Mobile.touched || saveLeadFormData.submitted),
                                      'has-success': Mobile.valid && Mobile.value && (Mobile.dirty || Mobile.touched )
                                          }">
                <international-phone-number name="Mobile" [(ngModel)]="saveLeadDataObj.Mobile" #Mobile="ngModel"
                  [defaultCountry]="saveLeadDataObj.Mobile ? '' : defaultCountry" tabindex="7">
                </international-phone-number>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="field_label">
                <h5>Phone <span>(optional)</span></h5>
              </div>
              <div [ngClass]="{
                                     'has-danger': Phone.invalid && (Phone.dirty || Phone.touched || saveLeadFormData.submitted),
                                     'has-success': Phone.valid && Phone.value && (Phone.dirty || Phone.touched )
                                        }">
                <international-phone-number name="Phone" [(ngModel)]="saveLeadDataObj.Phone" #Phone="ngModel"
                  [defaultCountry]="saveLeadDataObj.Phone ? '' : defaultCountry" tabindex="8">
                </international-phone-number>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="staff_img">
            <div *ngIf="!isImageExists" class="upload_image_box" (click)="onShowImageCropperDialog()">
              <!-- <my-image-cropper [roundedImage]="true" [croppedHeight]="200" [croppedWidth]="200"
                                        [canvasHeight]="250" [canvasWidth]="300" (imageUrlChange)="onImageChange($event)"></my-image-cropper> -->
              <div class="border_circle">
                <i class="fal fa-cloud-upload-alt"></i>
                <br>
                <button type="button" class="save">Upload Image</button>
              </div>
              <div class="camera">
                <i class="fal fa-camera"></i>
              </div>
            </div>
            <div *ngIf="isImageExists">
              <img class="img-responsive rounded-circle center-block" src="{{imagePath}}" alt="no image" />
              <br>
              <div class="changeimg_btn">
                <button type="button" (click)="onShowImageCropperDialog()"><i class="fal fa-pen"></i></button>
                <button type="button" (click)="onDeleteImage()"
                  *ngIf="saveLeadDataObj.CustomerID && saveLeadDataObj.ImagePath"><i
                    class="fal fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{
      'white_bg right_left_zero': !popupMode
  }" *ngIf="(saveLeadDataObj.CustomerID === 0)">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title">
            <h4>Enquiry Information</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="field_label">
            <h5>Assigned To</h5>
          </div>
          <div>
            <div class="select_label">
              <select class="form-control" name="AssignedToStaffID" [(ngModel)]="saveLeadDataObj.AssignedToStaffID"
                #AssignedTo="ngModel" tabindex="9">
                <option [ngValue]="null">Not Specified</option>
                <option *ngFor="let StaffListObj of staffList" [ngValue]="StaffListObj.StaffID">
                  {{StaffListObj.StaffFullName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4" *ngIf="(saveLeadDataObj.CustomerID === 0)">
          <div class="field_label">
            <h5>Membership </h5>
          </div>
          <div [ngClass]="{
                       'has-danger': Membership.invalid || saveLeadDataObj.MembershipID == 0  && (Membership.dirty || Membership.touched || saveLeadFormData.submitted),
                       'has-success': Membership.valid && (Membership.dirty || Membership.touched )
                    }">
            <div class="select_label">
              <select required class="form-control" name="MembershipID" [(ngModel)]="saveLeadDataObj.MembershipID"
                #Membership="ngModel" (ngModelChange)="onMembershipChange()" tabindex="10">
                <option *ngFor="let MembershipObj of membershipList" [ngValue]="MembershipObj.MembershipID">
                  {{MembershipObj.MembershipName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4  view_role_btn" *ngIf="(saveLeadDataObj.CustomerID === 0)">
          <button class="save" [disabled]="!isMemberShipSelected" class="save" type="button" tabindex="11"
            (click)="onViewMembership()">
            View
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isLoadAddressComp">
    <app-address [defaultCountry]="defaultCountry" [popupMode]="true" [customerAddressList]="saveLeadDataObj.CustomerAddress"
      [tabIndex]="12" [countryList]="countryList" [customerID]="saveLeadDataObj.CustomerID"></app-address>
    </ng-container>

    <div [ngClass]="{
    'white_bg': !popupMode
}">
      <div id="search_accordion">
        <div class="panel-heading collapsed row" data-toggle="collapse" data-parent="#search_accordion"
          data-target="#generalinfo">
          <div class="col-md-12">
            <h4 class="panel-title accordion-toggle"> General Information  <span class="optional">(optional)</span></h4>
          </div>
        </div>
        <div id="generalinfo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row flex-end">
              <div class="col-md-12">
                <div class="filter_seprator"></div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="field_label">
                  <h5>Referred By </h5>
                </div>
                <input type="text" matInput [formControl]="searchPerson" [matAutocomplete]="MemberName" maxlength="30"
                  tabindex="33">
                <mat-autocomplete #MemberName="matAutocomplete" [displayWith]="displayMemberName"
                  (optionSelected)='onReferredByChange($event.option.value)'>
                  <mat-option *ngFor="let person of allPerson" [value]="person">
                    <span class="client_name">{{ person.FullName }}</span>
                    <small class="client_type float-right">{{person.CustomerTypeName}}</small>
                    <br>
                    <span class="client_info">{{ person.Mobile }}</span>
                    <br>
                    <span class="client_info">{{ person.Email }}</span>
                  </mat-option>
                </mat-autocomplete>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="field_label">
                  <h5>Source</h5>
                </div>
                <div class="select_label">
                  <select class="form-control" name="EnquirySourceTypeID"
                    [(ngModel)]="saveLeadDataObj.EnquirySourceTypeID" #EnquirySourceTypeID="ngModel" tabindex="34">
                    <option [ngValue]="undefined"> Select Enquiry Source </option>
                    <option *ngFor="let source of enquirySourceTypeList" [ngValue]="source.EnquirySourceTypeID">
                      {{source.EnquirySourceTypeName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="field_label">
                  <h5>Company Name </h5>
                </div>
                <input type="text" maxlength="250" name="CompanyName" [(ngModel)]="saveLeadDataObj.CompanyName"
                  #CompanyName="ngModel" tabindex="35">
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="field_label">
                  <h5>Occupation</h5>
                </div>
                <input type="text" maxlength="250" name="Occupation" [(ngModel)]="saveLeadDataObj.Occupation"
                  #Occupation="ngModel" tabindex="36" />
              </div>
              <div class="col-md-12">
                <div class="field_label">
                  <h5>Notes <span class="reamin">(Remaining Characters:
                      {{1500 - saveLeadDataObj.Description?.length}})</span></h5>
                </div>
                <textarea rows="4" [(ngModel)]="saveLeadDataObj.Description" name="Description" maxlength="1500"
                  tabindex="37"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="{
    'white_bg': !popupMode
}">
      <div id="search_accordion">
        <div class="panel-heading collapsed row" data-toggle="collapse" data-parent="#search_accordion"
          data-target="#permissionbox">
          <div class="col-md-12">
            <h4 class="panel-title accordion-toggle"> Permissions</h4>
          </div>
        </div>
        <div id="permissionbox" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row flex-end">
              <div class="col-md-12">
                <div class="filter_seprator"></div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-envelope floating"></i>
                    </div>
                    <div>
                      <h5>Postal Mail</h5>
                      <p>Toggle on if the customer is happy to receive <br>postal mail</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="PostalMailAllowed"
                      [(checked)]="saveLeadDataObj.PostalMailAllowed" [(ngModel)]="saveLeadDataObj.PostalMailAllowed"
                      #PhoneCallAllowed="ngModel">

                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-phone-square floating"></i>
                    </div>
                    <div>
                      <h5>Phone Call</h5>
                      <p>Toggle on if the customer is happy to receive <br> calls</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="PhoneCallAllowed"
                      [(checked)]="saveLeadDataObj.PhoneCallAllowed" [(ngModel)]="saveLeadDataObj.PhoneCallAllowed"
                      #PhoneCallAllowed="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-envelope-open-text floating"></i>
                    </div>
                    <div>
                      <h5>Email</h5>
                      <p>Toggle on if the customer is happy to receive system generated and manual
                        emails
                      </p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="EmailAllowed"
                      [(checked)]="saveLeadDataObj.EmailAllowed" [(ngModel)]="saveLeadDataObj.EmailAllowed"
                      #EmailAllowed="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-comments floating"></i>
                    </div>
                    <div>
                      <h5>SMS</h5>
                      <p>Toggle on if the customer is happy to receive system generated and manual SMS
                      </p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="SMSAllowed"
                      [(checked)]="saveLeadDataObj.SMSAllowed" [(ngModel)]="saveLeadDataObj.SMSAllowed"
                      #SMSAllowed="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-bell floating"></i>
                    </div>
                    <div>
                      <h5>Push Notification</h5>
                      <p>Toggle on if customer is happy to receive push notifications</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="PushNotificationAllowed"
                      [(checked)]="saveLeadDataObj.PushNotificationAllowed"
                      [(ngModel)]="saveLeadDataObj.PushNotificationAllowed" #PushNotificationAllowed="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-briefcase-medical floating"></i>
                    </div>
                    <div>
                      <h5>First Aid</h5>
                      <p>Toggle on if the customer is happy to receive first aid</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="FirstAidAllowed"
                      [(checked)]="saveLeadDataObj.FirstAidAllowed" [(ngModel)]="saveLeadDataObj.FirstAidAllowed"
                      #FirstAidAllowed="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div *ngIf="isPartialPaymentAllow" class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-money-check-alt"></i>
                    </div>
                    <div>
                      <h5>Partial Payment – Core</h5>
                      <p>Toggle on if you are happy to allow the customer to make partial payments in
                        core
                      </p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="AllowPartPaymentOnCore"
                      [(checked)]="saveLeadDataObj.AllowPartPaymentOnCore"
                      [(ngModel)]="saveLeadDataObj.AllowPartPaymentOnCore" #AllowPartPaymentOnCore="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div *ngIf="isPartialPaymentAllow" class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-box-usd floating"></i>
                    </div>
                    <div>
                      <h5>Partial Payment – Widget</h5>
                      <p>Toggle on if you are happy to allow the customer to make partial payments on
                        widget</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" name="AllowPartPaymentOnWidget"
                      [(checked)]="saveLeadDataObj.AllowPartPaymentOnWidget"
                      [(ngModel)]="saveLeadDataObj.AllowPartPaymentOnWidget" #AllowPartPaymentOnWidget="ngModel">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box rfc_sd">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-box-usd"></i>
                    </div>
                    <div>
                      <h5>Reset Alert & Block - Classes</h5>
                      <div class="flex-cls cust_r_f_column">
                        <div class="block_counter d-flex">
                          <span>Late Cancellations</span><input type="text" [disabled]="true" name="ClassCancellationsCount"
                            [(ngModel)]="saveLeadDataObj.ClassLateCancellationCount" #ClassCancellationsCount="ngModel"
                            class="form-control">
                        </div>
                        <div class="d-flex block_counter">
                          <span>No Shows</span><input type="text" [disabled]="true" name="ClassNoShowCount"
                            [(ngModel)]="saveLeadDataObj.ClassNoShowCount" #ClassNoShowCount="ngModel"
                            class="form-control">
                        </div>
                      </div>
                      <p *ngIf="saveLeadDataObj.CustomerID  > 0 && saveLeadDataObj.ClassResetDate && saveLeadDataObj.ClassResetBy"
                        class="optional">Last Update: {{saveLeadDataObj.ClassResetDate | customdate: dateTimeFormat }}
                        by {{saveLeadDataObj.ClassResetBy}}</p>
                      <p class="error" *ngIf="saveLeadDataObj.IsClassBookingBlocked">Online Bookings Disabled</p>

                    </div>
                  </div>
                  <div>
                    <button class="reset" type="button"
                      [disabled]="saveLeadDataObj.CustomerID  == 0 || (saveLeadDataObj.ClassLateCancellationCount == 0 && saveLeadDataObj.ClassNoShowCount == 0)"
                      (click)="resetBlockCounter(cancelItemType.Class)">Reset</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 ">
                <div class="permission_box rfc_sd">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-box-usd"></i>
                    </div>
                    <div>
                      <h5>Reset Alert & Block - Services</h5>
                      <div class="flex-cls cust_r_f_column">
                        <div class="block_counter d-flex">
                          <span>Late Cancellations</span><input type="text" [disabled]="true"
                            name="ServiceLateCancellationCount"
                            [(ngModel)]="saveLeadDataObj.ServiceLateCancellationCount"
                            #ServiceLateCancellationCount="ngModel" class="form-control">
                        </div>
                        <div class="d-flex block_counter">
                          <span>No Shows</span><input type="text" [disabled]="true" name="ServiceNoShowCount"
                            [(ngModel)]="saveLeadDataObj.ServiceNoShowCount" #ServiceNoShowCount="ngModel"
                            class="form-control">
                        </div>
                      </div>
                      <p *ngIf="saveLeadDataObj.CustomerID  > 0 && saveLeadDataObj.ServiceResetDate && saveLeadDataObj.ServiceResetBy"
                        class="optional">Last Update: {{saveLeadDataObj.ServiceResetDate | customdate: dateTimeFormat}}
                        by {{saveLeadDataObj.ServiceResetBy}}</p>
                      <p class="error" *ngIf="saveLeadDataObj.IsServiceBookingBlocked">Online Bookings Disabled</p>
                    </div>
                  </div>
                  <div>
                    <button class="reset" type="button"
                      [disabled]="saveLeadDataObj.CustomerID  == 0 || (saveLeadDataObj.ServiceNoShowCount == 0 &&  saveLeadDataObj.ServiceLateCancellationCount == 0)"
                      (click)="resetBlockCounter(cancelItemType.Service)">Reset</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="permission_box">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-trophy-alt"></i>
                    </div>
                    <div>
                      <h5>Reward Program</h5>
                      <p>Toggle on if the customer is happy to enroll in the reward program</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false"
                      [(ngModel)]="saveLeadDataObj.RewardProgramAllowed" #RewardProgramAllowed="ngModel"
                      [(checked)]="saveLeadDataObj.RewardProgramAllowed" name="RewardProgramAllowed" (change)="onRewardProgramToggle($event)">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
<!--
              <div class="col-lg-4 col-md-4 col-sm-12" >
                <div class="permission_box ">
                  <div class="center_flex_alignment">
                    <div>
                      <i class="fal fa-box-usd"></i>
                    </div>
                    <div>
                    <h5>Access Control</h5>
                      <p>Toggle on if you are happy to allow the customer to use access control to gain entry into your branch.</p>
                    </div>
                  </div>
                  <div>
                    <mat-slide-toggle class="wellyx-checked" [disabled]="false" [(checked)]="saveLeadDataObj.DoorAccessAllowed"
                    [(ngModel)]="saveLeadDataObj.DoorAccessAllowed" #AccessControlAllowed="ngModel"
                        name="AccessControlAllowed">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
