<div tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="small_popup" *ngIf="isShowFillFormInfo">
      <div class="popup_header">
          <h4>Fill Form</h4>
      </div>
      <div class="popup_content delete_popup">
          <div class="space-10"></div>
          <div class="delete_warning info_warning">
              <div>
                <i class="fal fa-calendar-times"></i>
              </div>
              <div>
                  <!-- <h5>Are you sure and you want to delete?</h5> -->
                  <p>There are one or more pending forms waiting for submission. Would you like to fill out the forms now ?</p>
              </div>
          </div>
          <div class="space-10"></div>

          <div class="row cancel_btn float-right">
              <div class="col-md-12 col-sm-12 no_padding">
                  <button (click)="onCancel()">Cancel</button>
                  <button class="primary_blue_btn" (click)="onFillForm()">Fill Form</button>
              </div>
          </div>
      </div>
  </div>
</div>
