<div class="modal-dialog-centered">
    <div class="modal-content small_popup">
        <div class="popup_header">
            <h4>Add Form</h4>
        </div>
        <form #saveForm="ngForm" (ngSubmit)="saveCustomerForm()" novalidate>
            <div class="popup_content">
                <div class="cp_bg">
                    <!-- Old Password -->
                    <div class="field_label">
                        <h5>Select Form</h5>
                    </div>
                    <div class="select_label">
                        <select class="form-control" [(ngModel)]="saveCustomerFormModel.FormID"
                            name="formStatusID">
                            <option *ngFor="let customerForm of customerFormlist" [ngValue]="customerForm.FormID">
                                {{customerForm.FormName}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row popup_footer">
                <div class="col-md-12 col-sm-12">
                    <div class="cancel_btn float-right">
                        <button type="button" (click)="onCloseDialog()">Close</button>
                        <button type="submit" class="save primary_blue_btn" [disabled]="!isFormExist">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>