<div class="view_staff_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog-centered">
        <div class="modal-content sch_pop_width">
            <div class="popup_header">
                <h4>Add Client</h4>
            </div>
            <div class="popup_content cstm_scroll_bg">
                <save-client #addClientRef (closeDialog)="onCloseDialog($event)" [popupMode]="true"></save-client>
            </div>
            <div class="row popup_footer">
                <div class="col-md-12">
                    <div class="cancel_btn float-right">
                        <button type="button" (click)="onCloseDialog(true)">Close</button>
                        <button type="submit" [disabled]="(addClientRef.pristine)" class="save primary_blue_btn" (click)="onSaveClient()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>