<div class="row">
    <div class="col-md-12">
        <div class="company_btn float-right">
            <button *ngIf="isStaffSaveAllowed" [routerLink]="['/staff/details',0]">
                Add Staff</button>
        </div>
    </div>
</div>
<div class="white_bg">
    <div id="search_accordion">
        <div class="panel-heading collapsed row" data-toggle="collapse" data-parent="#search_accordion" data-target="#product_search">
            <div class="col-md-12">
                <h3 class="panel-title accordion-toggle"> Search Filter </h3>
            </div>
        </div>
        <div id="product_search" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter_seprator"></div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5 class="field_label">Name</h5>
                        <input type="text" class="form-control" name="StaffName" maxlength="50" [(ngModel)]="staffSearchParameter.StaffName">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5 class="field_label">Card Number</h5>
                        <input type="text" class="form-control" name="CardNumber" [(ngModel)]="staffSearchParameter.CardNumber">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5 class="field_label">Position</h5>
                        <div class="select_label">
                            <select class="form-control" name="PositionID" [(ngModel)]="staffSearchParameter.StaffPositionID">
                                <option *ngFor="let posObj of staffPositionList" [ngValue]="posObj.StaffPositionID">
                                    {{posObj.StaffPositionName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h5 class="field_label">Login Allowed</h5>
                        <div class="select_label">
                            <select class="form-control" name="IsActive" [(ngModel)]="staffSearchParameter.IsActive">
                                <option *ngFor="let statusObj of statusList" [ngValue]="statusObj.StatusID">
                                    {{statusObj.StatusName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="offset-lg-9 offset-md-6 col-lg-3 col-md-6 space no_padding">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <button class="reset_btn" type="button" (click)="resetStaffSearchFilters()">
                                    Reset</button>
                            </div>
                            <div class="col-md-6 col-sm-6 full_width_btn">
                                <button class="search" type="button" (click)="staffSearch()">
                                    Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grids_white_bg">
    <div class="overflow-auto">
    <div class="row grid_header responsive_grid_header">
        <div class="col-md-2 col">
            <h5>
                <!-- <i style="float:left;" matTooltip="Sortable!" matTooltipPosition="above" class="fa fa-sort fa-pull-left" aria-hidden="true">
                    </i> -->
                <a class="sort_icon" (click)="changeSorting(1)" href="javascript:void(0)">
                    Name
                    <i class="far fa-sort-alt" aria-hidden="true"></i>
                </a>
            </h5>
        </div>
        <div class="col-md-2 col">
            <h5>
                <!-- <i style="float:left;" matTooltip="Sortable!" matTooltipPosition="above" class="fa fa-sort fa-pull-left" aria-hidden="true"></i> -->
                <a class="sort_icon" (click)="changeSorting(2)" href="javascript:void(0)">
                    Position
                    <i class="far fa-sort-alt" aria-hidden="true"></i>
                </a>
            </h5>
        </div>
        <div class="col-md-2 col">
            <h5>Mobile</h5>
        </div>
        <div class="col-md-2 col">
            <h5>Email</h5>
        </div>
        <div class="col-md-2 col">
            <h5>Login Allowed</h5>
        </div>
        <div class="col-md-2 col text-center">
            <h5>Actions</h5>
        </div>
    </div>
    <div id="grid" *ngIf="isDataExists">
        <div class="row grid_rows responsive_grid_rows" *ngFor="let staffDataobj of staffGridDataObj">
            <div class="col-md-2 col">
                <h5 *ngIf="staffDataobj.IsSuperAdmin || !isStaffSaveAllowed">{{staffDataobj.FirstName + ' ' +
                    staffDataobj.LastName }}</h5>
                <h5 *ngIf="!staffDataobj.IsSuperAdmin && isStaffSaveAllowed">
                    <a class="name_link" [routerLink]="['/staff/details',staffDataobj.StaffID]">
                        {{staffDataobj.FirstName + ' ' + staffDataobj.LastName }}
                    </a>
                </h5>
            </div>
            <div class="col-md-2 col">
                <h5>{{staffDataobj.StaffPositionName}} </h5>
            </div>
            <div class="col-md-2 col">
                <h5>{{staffDataobj.Mobile}} </h5>
            </div>
            <div class="col-md-2 col">
                <h5>{{staffDataobj.Email}} </h5>
            </div>
            <div class="col-md-2 col">
                <h5>
                    <i class="fa  {{staffDataobj.AllowLogin ? 'fa-check-circle text-success': 'fa-times-circle text-danger'}}"
                        aria-hidden="true"></i> {{staffDataobj.AllowLogin ? 'Yes' : 'No'}}
                </h5>
            </div>
            <div class="col-md-2 col text-center">
                <h5>
                    <span class="blue">
                        <a matTooltip="View" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="viewStaffDetails(staffDataobj.StaffID)"
                            href="javascript:void(0)">
                            <i class="fal fa-book-open"></i>
                        </a>
                    </span>
                    <span class="blue" *ngIf="isSuperAdminLoggedIn || (!staffDataobj.IsSuperAdmin && isStaffSaveAllowed)">
                        <a matTooltip="Edit" matTooltipPosition="above" matTooltipClass="custom-tooltip" [routerLink]="['/staff/details',staffDataobj.StaffID]">
                            <i class="fal fa-edit"></i>
                        </a>
                    </span>
                    <span class="blue" *ngIf="isStaffActivityAllowed">
                        <a matTooltip="Activities" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [routerLink]="['/staff/details',staffDataobj.StaffID , 'activities']">
                            <i class="fal fa-address-card"></i>
                        </a>
                    </span>
                    <span class="red_del" *ngIf="!staffDataobj.IsSuperAdmin && isStaffSaveAllowed && loggedInStaffId !=staffDataobj.StaffID">
                        <a matTooltip="Delete" matTooltipPosition="above" matTooltipClass="custom-tooltip" (click)="deleteStaff(staffDataobj.StaffID)"
                            href="javascript:void(0)">
                            <i class="fal fa-trash-alt"></i>
                        </a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
    <div *ngIf="!isDataExists">
        <div class="row grid_rows ">
            <div class="col-md-12 col-sm-12 text-center">
                <h5 class="no_record_found">{{messages.Generic_Messages.No_Record_Found}}</h5>
            </div>
        </div>
    </div>
</div>
<app-pagination #appPagination (paginationEvent)="reciviedPagination($event)"></app-pagination>
<!-- <div class="pagination">
        <div class="col-md-12 no_padding">
            <mat-paginator #paginator [length]="totalRecords" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true" (page)="changePageSize($event)">
            </mat-paginator>
        </div>
        <div class="clearfix"></div>
    </div> -->
</div>