
<!-- New Invoices List Start -->

<div class="grids_white_bg">
    <div class="cstm_scroll_bg overflow-auto master_row">
      <div class="row grid_header mob-scroll-grid">
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5>Sale Date</h5>
        </div>
        <div class="col">
          <h5>Bill No</h5>
        </div>
        <div class="col">
          <h5>Total Amount</h5>
        </div>
        <div class="col">
          <h5>Total Amount Paid</h5>
        </div>
        <div class="col">
          <h5>Balance Amount</h5>
        </div>
        <div class="col">
          <h5>Payment Status</h5>
        </div>
        <div class="col">
          <h5>Payment Gateway</h5>
        </div>
        <div class="col">
          <h5>Payment Reference</h5>
        </div>
        <div class="col text-center">
          <h5>Actions</h5>
        </div>
      </div>
  
      <div class="row grid_rows grid_parent_rows mob-scroll-grid collapsed" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <div class="col">
          <h5>Health Member</h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5>£1.00</h5>
        </div>
        <div class="col">
          <h5>£0.00</h5>
        </div>
        <div class="col">
          <h5>£1.00</h5>
        </div>
        <div class="col">
          <h5>Part Payment</h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col text-center">
          <a mattooltip="View" mattooltipclass="custom-tooltip" mattooltipposition="above"
            aria-describedby="cdk-describedby-message-109" cdk-describedby-host="" ng-reflect-position="above"
            ng-reflect-message="View"><i class="fal fa-book-open"></i>
          </a>
        </div>
      </div>
  
      <div class="row grid_rows grid_child_rows mob-scroll-grid collapse" id="collapseExample">
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5>4 Aug, 2020</h5>
        </div>
        <div class="col">
          <h5>1-1030</h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col">
          <h5>£2.00</h5>
        </div>
        <div class="col">
          <h5>£1.00</h5>
        </div>
        <div class="col">
          <h5>Paid</h5>
        </div>
        <div class="col">
          <h5>Cash</h5>
        </div>
        <div class="col">
          <h5></h5>
        </div>
        <div class="col text-center">
          <a mattooltip="View" mattooltipclass="custom-tooltip" mattooltipposition="above"
            aria-describedby="cdk-describedby-message-109" cdk-describedby-host="" ng-reflect-position="above"
            ng-reflect-message="View"><i class="fal fa-book-open"></i>
          </a>
        </div>
      </div>
  
    </div>
  </div>
  
  <!-- New Invoices List End -->