
<div class="add_class_membership" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered">
    <form #membershipItemBenefitForm="ngForm" (ngSubmit)="onSave(membershipItemBenefitForm.valid)" novalidate>
    <div class="modal-content medium_popup">
      <div class="popup_header">
        <div>
          <h4>{{saveMembershipItemModel.IsEdit ? 'Edit' : 'Add'}} {{itemTypeName}}</h4>
        </div>
      </div>
      <div class="popup_content cstm_scroll_bg">
        <div class="view_bg">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger" *ngIf="(membershipItemBenefitForm.invalid && membershipItemBenefitForm.submitted)
                                                     || showTotalSessionsValidation
                                                     || showDiscountPercentageValidation
                                                     || showItemTypeValidation
                                                     || isSelecteRequired">
                <div *ngIf="membershipItemBenefitForm.invalid && !showTotalSessionsValidation && !showDiscountPercentageValidation && !showItemTypeValidation && !showItemTypeValidationForNotExist">
                  {{messages.Validation.Info_Required}}
                </div>
                <div *ngIf="showTotalSessionsValidation">
                  {{messages.Validation.Sessions_Length}}
                </div>
                <div *ngIf="showDiscountPercentageValidation">
                  {{messages.Validation.Discount_Percentage_Length}}
                </div>
                <div *ngIf="showItemTypeValidation">
                  {{itemTypeValidationMessage}}
                </div>
                <div *ngIf="showItemTypeValidationForNotExist">
                  {{itemTypeValidationMessageForNotExist}}
                </div>
                <div *ngIf="isSelecteRequired">
                  {{isSelecteRequiredMsg}}
                </div>
              </div>
            </div>
          </div>         
          <div class="row">
            <div class="col-sm-12">
              <h5 class="field_label">Branch</h5>
              <div [ngClass]="{
                'has-danger': (BranchID.invalid || ((!BranchID.value) || BranchID.value == 0))
                            && (BranchID.dirty || BranchID.touched),
                'has-success':  BranchID.valid && (BranchID.value &&
                            BranchID.value != 0) && (BranchID.dirty || BranchID.touched)
                }">
              <div class="select_label">
                <select class="form-control" name="BranchID" [(ngModel)]="saveMembershipItemModel.BranchID" id="BranchID" [disabled]="saveMembershipItemModel.IsEdit" (ngModelChange)="onBranchSelectionChange($event)" #BranchID="ngModel" required>
                  <option value="0" required>Select Branch</option>
                  <option *ngFor="let branch of selectedBranchList" [ngValue]="branch.BranchID">{{branch.BranchName}}</option>
                </select>
              </div>
            </div>
            </div>
      
          </div>
        </div>
        <!---*********New section with collapse**********-->
        <div class="view_bg" *ngIf="saveMembershipItemModel.BranchID > 0">
          <div class="row">
            <div class="col-md-12">
              <div class="section_title">
                <h3 class="mb-1">{{itemTypeHeading}}
                  <span class="info_tip" *ngIf="saveMembershipItemModel.ItemTypeID != enuMemberShipItemTypeName.Service"
                    matTooltip="Add all, multiple or single {{itemTypeName}} from the multi-select list of {{itemTypeHeading}}.
                     These {{itemTypeHeading}} can be availed by the members of this membership as per the usage limit and pricing you set below."
                    matTooltipPosition="above" matTooltipClass="custom-tooltip">
                    <i class="far fa-info-circle"></i>
                  </span>
                  <span class="info_tip" *ngIf="saveMembershipItemModel.ItemTypeID == enuMemberShipItemTypeName.Service"
                    matTooltip="Add all, multiple or a single service from the multi-select list of services. These services can be availed by the member of this membership as per the usage
                    limit and pricing you set below."
                    matTooltipPosition="above" matTooltipClass="custom-tooltip">
                    <i class="far fa-info-circle"></i>
                  </span>
                  <ng-container *ngIf="branchSpecificItemsList && branchSpecificItemsList.length > 1 && saveMembershipItemModel.ItemTypeID != enuMemberShipItemTypeName.Service">
                    <button class="btn-sm de_seleect_btn float-right" type="button" (click)="selectOrDeselectAll(false)"> Deselect All {{itemTypeHeading}} </button>
                    <button class="btn-sm de_seleect_btn float-right" type="button" (click)="selectOrDeselectAll(true)"> Select All {{itemTypeHeading}} </button>
                  </ng-container>
                  <ng-container *ngIf="branchSpecificServiceList && branchSpecificServiceList.length > 1 && saveMembershipItemModel.ItemTypeID == enuMemberShipItemTypeName.Service">
                    <button type="button" class="btn-sm de_seleect_btn float-right" (click)="selectOrDeselectAllServices(false)"> Deselect All {{itemTypeHeading}} </button>
                    <button type="button" class="btn-sm de_seleect_btn float-right" (click)="selectOrDeselectAllServices(true)"> Select All {{itemTypeHeading}} </button>
                  </ng-container>
                </h3>
                
              </div>
            </div>
          </div>
          <div class="row">
              <!--*****************For Classes and Products**********************-->
                <ng-container *ngIf="saveMembershipItemModel.ItemTypeID != enuMemberShipItemTypeName.Service;">
                  <div class="col-md-12" *ngFor="let itemCategoryType of branchSpecificItemsList;  let catIndex = index">
                    <div class="staff_provide_service">
                      <div class="checkbox checkbox-success full_width">
                        <div class="cst-checkbox-collapse" [ngClass]="{'collapsed': catIndex != 0}" role="button" data-toggle="collapse" attr.data-target="#collapseExample{{catIndex}}"
                          aria-expanded="false" attr.aria-label="collapseExample{{catIndex}}">
                             <h3 class="pl-3">{{itemCategoryType.ItemCategoryName}}</h3>
                        </div>
                        <button type="button" class="btn-sm de_seleect_btn float-right" *ngIf="!saveMembershipItemModel.IsEdit" (click)="selectOrDeselectItemCategory(itemCategoryType.ItemCategoryID, false)">
                          Deselect All </button>
                        <button type="button" class="btn-sm de_seleect_btn float-right" *ngIf="!saveMembershipItemModel.IsEdit" (click)="selectOrDeselectItemCategory(itemCategoryType.ItemCategoryID, true)"> Select All
                        </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <ng-container *ngFor="let itemtype of itemCategoryType.ItemList">
                    <div class="collapse" [ngClass]="{'show': catIndex == 0}" id="collapseExample{{catIndex}}">
                      <div class="w-100">
                        <div class="checkbox checkbox-success"><input [disabled]="saveMembershipItemModel.IsEdit" type="checkbox" class="example-margin"
                            id="{{'Chk_'+itemtype.ItemID}}" name="{{'Chk_'+itemtype.ItemID}}" [(ngModel)]="itemtype.IsSelected" [(checked)]="itemtype.IsSelected" />
                          <label for="{{'Chk_'+itemtype.ItemID}}">{{itemtype.ItemName}}</label>
                        </div>
                      </div>
                    </div>
                    </ng-container>
                  </div>
                </ng-container>
                <!--**********************For service****************************************-->
                <ng-container *ngIf="saveMembershipItemModel.ItemTypeID == enuMemberShipItemTypeName.Service">                   
                    <!--**************Category loop****************************-->
                    
                  <div class="col-md-12" *ngFor="let serviceCategory of branchSpecificServiceList; let catIndex=index">

                    <div class="staff_provide_service">
                      <div class="checkbox checkbox-success full_width">
                        <div class="cst-checkbox-collapse" [ngClass]="{'collapsed': catIndex != 0}" role="button" data-toggle="collapse" attr.data-target="#collapseExample{{catIndex}}"
                          aria-expanded="false" attr.aria-label="collapseExample{{catIndex}}">
                             <h3 class="pl-3">{{serviceCategory.ServiceCategoryName}}</h3>
                        </div>
                       
                        <button type="button" class="btn-sm de_seleect_btn float-right" *ngIf="!saveMembershipItemModel.IsEdit"
                          (click)="onSelectOrDeselectServiceCategory(serviceCategory.ServiceCategoryID, false)">Deselect All </button>
                        <button type="button" class="btn-sm de_seleect_btn float-right" *ngIf="!saveMembershipItemModel.IsEdit"
                          (click)="onSelectOrDeselectServiceCategory(serviceCategory.ServiceCategoryID, true)">Select All </button>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--**************Service loop****************************-->
                    <ng-container *ngFor="let service of serviceCategory.ServiceList; let serviceIndex=index">
                      <div class="collapse" [ngClass]="{'show': catIndex == 0}" id="collapseExample{{catIndex}}">
                    
                        <div class="w-100">
                          <div class="checkbox checkbox-success">
                            <input type="checkbox" [disabled]="saveMembershipItemModel.IsEdit" class="example-margin"
                              id="{{'service_'+ service.ServiceID}}" name="{{'service_'+ service.ServiceID}}"
                              [(ngModel)]="service.IsSelected" [(checked)]="service.IsSelected"
                              (ngModelChange)="onServiceChange(service.ServiceID, service.IsSelected, catIndex, serviceIndex)" />
                            <label for="{{'service_'+service.ServiceID}}"> {{service.ServiceName}}</label>
                    
                          </div>
                        </div>
                        <!--**************Service Packages loop*****************-->
                        <ng-container *ngFor="let servicePackage of service.ServicePackageList; let servicePackageIndex=index">
                          <div class="w-100 pl-4 ml-1 collapse show" id="collapseService{{serviceIndex}}">
                            <div class="checkbox checkbox-success">
                              <input [disabled]="saveMembershipItemModel.IsEdit" type="checkbox" class="example-margin"
                                id="{{'Chk_'+servicePackage.ServicePackageID}}" name="{{'Chk_'+servicePackage.ServicePackageID}}"
                                [(ngModel)]="servicePackage.IsSelected" [(checked)]="servicePackage.IsSelected"
                                (ngModelChange)="onServicePackageChange(servicePackage.ServicePackageID, servicePackage.IsSelected, catIndex, serviceIndex)" />
                              <label for="{{'Chk_'+servicePackage.ServicePackageID}}">{{servicePackage.DurationValue + ' '
                                +servicePackage.DurationTypeName}}</label>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>

                  </div>

                </ng-container>
          </div>

        </div>   
        <!--********New section with collapse end*******-->
        <div class="view_bg">
          <div class="row">
            <div class="col-md-12">
              <div class="panel-heading row" [ngClass]="{ 'collapsed': isNoLimit }" data-target="#benefits_usage_limit" data-toggle="collapse" (click)="noLimit_collapse_valueChanged()">
                <div class="col-md-12 no_padding">
                  <div class="sch_class_head no_padding section_title no_border mb-0">
                      <h3>Set Usage Limit of the Benefits<span class="info_tip"
                        matTooltip="How much and how often can the members avail these benefits? The usage limit you set here applies on the selection of {{itemTypeHeading}} made above. Remember that members cannot avail more than ‘Total Class Benefits limit’ you have set at the Membership Benefits screen."
                        matTooltipPosition="above" matTooltipClass="custom-tooltip"><i
                          class="far fa-info-circle"></i></span>
                      </h3>
                      <mat-slide-toggle class="example-margin"  [(checked)]="isNoLimit" [disabled]="false" name="NoLimits" tabindex="2">
                      {{isNoLimit ? 'No Limit': 'Restricted'}}
                    </mat-slide-toggle>
                    </div>
                </div>
              </div>
              <div class="panel-collapse collapse" id="benefits_usage_limit" [ngClass]="{  'show': !isNoLimit }">
                <div class="panel-body pt-2 mt-1">
                  <div class="row flex-end">
                    <div class="col-md-6 col-sm-6 padding_left">
                      <div [ngClass]="{
                        'has-danger': TotalSessions.invalid && !isNoLimit &&
                                      (TotalSessions.dirty || TotalSessions.touched)
                                      || ((!TotalSessions.value) || TotalSessions.value == 0 || TotalSessions.value == null)
                                      && (TotalSessions.dirty || TotalSessions.touched) || showTotalSessionsValidation,
                        'has-success': (TotalSessions.value && TotalSessions.value != 0)
                            && TotalSessions.valid && (TotalSessions.dirty || TotalSessions.touched)
                        }">
                      <h5 class="field_label">Benefits</h5>
                      <input class="form-control" min="1" maxlength="4" [(ngModel)]="totalSessions" [disabled]="isNoLimit ? true : false" required
                      name="TotalSession" numberControl type="text" #TotalSessions="ngModel"
                      (ngModelChange)="onBenefitSessionDurationChangeOnlyNumbers($event)">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 padding_right">
                      <div class="select_label">
                          <select class="form-control" name="durationTypeID" [(ngModel)]="durationTypeID" id="durationTypeID">
                            <option value="{{enuMemberShipBenefitDurations.Day}}" required>Per Day</option>
                            <option value="{{enuMemberShipBenefitDurations.Week}}" required>Per Week</option>
                            <option value="{{enuMemberShipBenefitDurations.FortnightBiweek}}" required>Per Fortnight/Bi-week</option>
                            <option value="{{enuMemberShipBenefitDurations.FourWeek}}" required>Per Four Week</option>
                            <option value="{{enuMemberShipBenefitDurations.Month}}" required>Per Month</option>
                            <option value="{{enuMemberShipBenefitDurations.Quarter}}" required>Per Quarter</option>
                            <option value="{{enuMemberShipBenefitDurations.SixMonth}}" required>Per Six Month</option>
                            <!-- <option value="{{enuMemberShipBenefitDurations.Year}}" required>Per Year</option> -->
                            <option value="{{enuMemberShipBenefitDurations.Membership}}" required>Per Membership</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view_bg">
          <div class="row">
            <div class="col-md-12">
              <div class="panel-heading row" [ngClass]="{ 'collapsed': isFree }" data-target="#benefits_price" data-toggle="collapse" (click)="free_collapse_valueChanged()">
                <div class="col-md-12 no_padding">
                  <div class="sch_class_head no_padding section_title no_border mb-0">
                      <h3>Set Pricing of the Benefits<span class="info_tip"
                        matTooltip="Are these benefits available for free or at a discounted price to the members? The discount percentage applies on the selling price of the {{itemTypeHeading}}."
                        matTooltipPosition="above" matTooltipClass="custom-tooltip"><i
                          class="far fa-info-circle"></i></span>
                      </h3>
                      <mat-slide-toggle class="example-margin" [(checked)]="isFree" [disabled]="false" name="isFree" tabindex="2">
                      {{isFree ? 'Free': 'Discounted'}}
                    </mat-slide-toggle>
                    </div>
                </div>
              </div>
              <div class="panel-collapse collapse" id="benefits_price" [ngClass]="{  'show': !isFree }">
                <div class="panel-body pt-2 mt-1">
                  <div class="row flex-end">
                    <div class="col-md-6 col-sm-6 padding_left">
                      <div [ngClass]="{
                        'has-danger': DiscountPercentage.invalid && !isFree
                                      && (DiscountPercentage.dirty || DiscountPercentage.touched)
                                      || ((!DiscountPercentage.value) || DiscountPercentage.value == 0 || DiscountPercentage.value == null || DiscountPercentage.value > 100)
                                      && (DiscountPercentage.dirty || DiscountPercentage.touched) || showDiscountPercentageValidation,
                        'has-success': (DiscountPercentage.value && DiscountPercentage.value != 0)
                                       && DiscountPercentage.valid && (DiscountPercentage.dirty || DiscountPercentage.touched)
                        }">
                      <h5 class="field_label">Discount(%)</h5>
                      <input class="form-control" min="0.01" max="100" maxlength="5" [(ngModel)]="discountPercentage" [disabled]="isFree ? true : false" required
                        name="DiscountPercentage" numberControl type="text" #DiscountPercentage="ngModel" (ngModelChange)="onDiscountPercentageChangeOnlyNumbers($event)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row popup_footer">
        <div class="col-md-12">
          <div class="cancel_btn float-right">
            <button type="button" (click)="onCloseDialog()">Close</button>
            <button class="save primary_blue_btn" [disabled]="showItemTypeValidation">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
