<div class="page_content">
  <form #serviceFormData="ngForm" (ngSubmit)="saveService(serviceFormData.valid)" novalidate>
    <div class="row">
      <div class="col-md-12 ">
        <div class="company_btn float-right xs-three-btn">
          <button class="simple_btn" type="button" role="navigation" [routerLink]="['/setup/service']">
            Back to Search
          </button>
          <button class="simple_btn" type="button" (click)="resetForm()">
            Reset </button>
          <button class="save" [disabled]="(serviceFormData.pristine)" type="submit" tabindex="14">
            Save</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="white_bg no_bg">
      <div class="row">
        <div [ngClass]="IsServiceWaitList ? 'col-md-3 padding_left mob-m2 mob-pr-0' : 'col-md-4 padding_left'">
          <div class="sch_class_head">
            <h5 class="field_label">Active
            </h5>
            <mat-slide-toggle class="wellyx-checked" name="IsActive" tabindex="1" [(checked)]="objServicesData.IsActive"
              [(ngModel)]="objServicesData.IsActive" (ngModelChange)="onIsActiveChange()">
              {{objServicesData.IsActive ? 'Yes': 'No'}}
            </mat-slide-toggle>
          </div>
        </div>
        <div [ngClass]="IsServiceWaitList ? 'col-md-3 padding_left mob-m2 mob-pr-0' : 'col-md-4'">
          <div class="sch_class_head">
            <h5 class="field_label">Show Online
            </h5>
            <mat-slide-toggle class="wellyx-checked" tabindex="2" name="IsOnline" [(checked)]="objServicesData.IsOnline"
              [(ngModel)]="objServicesData.IsOnline" [disabled]="!objServicesData.IsActive"
              (ngModelChange)="onIsOnlineChange()">
              {{objServicesData.IsOnline ? 'Yes': 'No'}}
            </mat-slide-toggle>
          </div>
        </div>

        <div [ngClass]="IsServiceWaitList ? 'col-md-3 padding_left mob-m2 mob-pr-0' : 'col-md-4 no_padding'">
          <div class="sch_class_head">
            <h5 class="field_label">Is Featured
            </h5>
            <mat-slide-toggle class="wellyx-checked" tabindex="3" name="IsFeatured"
              [(checked)]="objServicesData.IsFeatured" [disabled]="!objServicesData.IsOnline"
              [(ngModel)]="objServicesData.IsFeatured">
              {{objServicesData.IsFeatured ? 'Yes': 'No'}}
            </mat-slide-toggle>
          </div>
        </div>

        <div class="col-md-3 no_padding" *ngIf="IsServiceWaitList">
          <div class="sch_class_head">
            <h5 class="field_label">Enable Waitlist Online
              <span class="info_tip"
                matTooltip="Allow customers to add themselves into this service waitlists on the widget and customer app."
                matTooltipPosition="above" matTooltipClass="custom-tooltip"><i class="far fa-info-circle"></i></span>
            </h5>
            <mat-slide-toggle class="wellyx-checked" tabindex="4" name="EnableWaitList"
              [(checked)]="objServicesData.EnableWaitList" [(ngModel)]="objServicesData.EnableWaitList"
              [disabled]="!objServicesData.IsOnline">

            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>

    <div class="white_bg">
      <div class="row mob-col-rev">
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-danger"
            *ngIf="serviceFormData.submitted && (serviceFormData.invalid || !arePaymentPlansValid)">
            {{messages.Validation.Info_Required}}
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 no_padding">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="field_label">
                <h5>Service Name</h5>
              </div>
              <div [ngClass]="{
                        'has-danger': ServiceName.invalid && (ServiceName.dirty || ServiceName.touched || serviceFormData.submitted),
                         'has-success': ServiceName.valid && (ServiceName.dirty || ServiceName.touched )
                      }">

                <input required class="form-control" tabindex="1" [(ngModel)]="objServicesData.ServiceName"
                  #ServiceName="ngModel" name="ServiceName" type="text" (blur)="onServiceNameUpdated()" maxlength="50">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="field_label">
                <h5>Service Category</h5>
              </div>
              <div [ngClass]="{
                  'has-danger': (ServiceCategoryID.invalid || objServicesData.ServiceCategoryID == 0 || objServicesData.ServiceCategoryID == null || objServicesData.ServiceCategoryID == undefined)
                                              && (ServiceCategoryID.dirty || ServiceCategoryID.touched || serviceFormData.submitted) }">
                <div class="select_label">
                  <select required [(ngModel)]="objServicesData.ServiceCategoryID" name="ServiceCategoryID" tabindex="2"
                    #ServiceCategoryID="ngModel" class="form-control">
                    <option [ngValue]="null">Select Category</option>
                    <option *ngFor="let objServiceCategory of serviceCategoryList"
                      [ngValue]="objServiceCategory.ServiceCategoryID">
                      {{objServiceCategory.ServiceCategoryName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="field_label">
                <h5>Cleaning Time (min)</h5>
              </div>
              <div [ngClass]="{
                  'has-danger': CleaningTimeInMinute.invalid && (CleaningTimeInMinute.dirty || CleaningTimeInMinute.touched || serviceFormData.submitted),
                  'has-success': CleaningTimeInMinute.valid && (CleaningTimeInMinute.dirty || CleaningTimeInMinute.touched )
                      }">
                <input required class="form-control" [(ngModel)]="objServicesData.CleaningTimeInMinute"
                  #CleaningTimeInMinute="ngModel" (keydown)="preventDecimalValue($event)" tabindex="3"
                  name="CleaningTimeInMinute" type="number" min="0">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="field_label">
                <h5>Tax </h5>
              </div>
              <div class="select_label">
                <mat-select class="form-control multi_select_tax" placeholder="Select Tax" name="ClassTax"
                  [(ngModel)]="selectedTaxList" tabindex="10" multiple>
                  <mat-select-trigger *ngIf="selectedTaxList && selectedTaxList.length > 0">
                    {{selectedTaxList && selectedTaxList.length > 0 && selectedTaxList[0].TaxName ?
                    selectedTaxList[0].TaxName :
                    selectedTaxList && selectedTaxList.length >= 2 && selectedTaxList[0].TaxName == undefined ?
                    selectedTaxList[1].TaxName : ''}}
                    <span *ngIf="selectedTaxList && selectedTaxList.length >= 2" class="example-additional-selection">
                      (+{{selectedTaxList[0].TaxName == undefined ? selectedTaxList.length - 2 :
                        selectedTaxList.length - 1 }}
                      {{selectedTaxList[0].TaxName == undefined && selectedTaxList.length === 3 ? 'other' :
                      selectedTaxList.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <span *ngIf="taxList && taxList.length > 1">
                    <mat-option #allSelectedTax (click)="toggleAllTaxSelection()" [value]="0">All Taxes</mat-option>
                  </span>
                  <mat-option *ngFor="let taxItem of taxList" [value]="taxItem" (click)="tosslePerOneTax(taxItem)">
                    {{taxItem.TaxName}} </mat-option>
                </mat-select>
              </div>
              <!-- <div style="max-height: 192px; overflow: auto;">
                <div class="tax_row" *ngFor="let taxObj of taxList">
                  <div class="check_cls_bg tax_items">
                    <div class="checkbox checkbox-success tax_checkbox">
                      <input id="{{'checkbox' + taxObj.TaxID}}" name="{{taxObj.TaxName + taxObj.TaxID}}" type="checkbox"
                        [(ngModel)]="taxObj.IsSelected" (ngModelChange)="calculateVATandTotalPrice()" tabindex="4">
                      <label for="{{'checkbox' + taxObj.TaxID}}"> {{taxObj.TaxName}}
                      </label>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="showFacilities">
              <div class="field_label">
                <h5>Facility</h5>
              </div>
              <div class="select_label">
                <mat-select class="form-control multi_select_tax" placeholder="Select Facility" name="ClassFacility"
                  [(ngModel)]="selectedFacilityList" tabindex="10" multiple>
                  <mat-select-trigger *ngIf="selectedFacilityList && selectedFacilityList.length > 0">
                    {{selectedFacilityList && selectedFacilityList.length > 0 && selectedFacilityList[0].FacilityName ?
                      selectedFacilityList[0].FacilityName :
                      selectedFacilityList && selectedFacilityList.length >= 2 && selectedFacilityList[0].FacilityName == undefined ?
                      selectedFacilityList[1].FacilityName : ''}}
                    <span *ngIf="selectedFacilityList && selectedFacilityList.length >= 2"
                      class="example-additional-selection w-100">
                      (+{{selectedFacilityList[0].FacilityName == undefined ? selectedFacilityList.length - 2 :
                        selectedFacilityList.length - 1 }}
                      {{selectedFacilityList[0].FacilityName == undefined && selectedFacilityList.length === 3 ? 'other' :
                      selectedFacilityList.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <span *ngIf="facilityList && facilityList.length > 1">
                    <mat-option #allSelectedFacilities (click)="toggleAllFacilitySelection()" [value]="0">All Facility
                    </mat-option>
                  </span>
                  <mat-option *ngFor="let facility of facilityList" [value]="facility"
                    (click)="tosslePerOneFacility(facility)">
                    {{facility.FacilityName}} </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="isPurchaseRestrictionAllowed">
              <div class="field_label">
                <h5>Purchase Restriction <span class="info_tip"
                  matTooltip="By checking a customer type, you can restrict a particular customer type from viewing or buying this service on the widget and customer app. For core & staff app, a tag will be displayed for information purposes only, however you can still sell the service to all customers."
                  matTooltipPosition="above" matTooltipClass="custom-tooltip"><i class="far fa-info-circle"></i></span>
                <span>&nbsp;(Optional)</span></h5>
              </div>
              <div class="select_label">
                <mat-select class="form-control multi_select_tax" placeholder="Select Purchase Restriction" name="mainSearch"
                  #selectItem [(ngModel)]="selectedRestrictedList" tabindex="10" multiple>

                  <mat-select-trigger *ngIf="selectedRestrictedList && selectedRestrictedList.length > 0">
                    {{selectedRestrictedList && selectedRestrictedList.length > 0 &&
                          selectedRestrictedList[0].text ?
                          selectedRestrictedList[0].text :
                          selectedRestrictedList && selectedRestrictedList.length >= 2 &&
                          selectedRestrictedList[0].text == undefined ?
                          selectedRestrictedList[1].text : ''}}
                    <span *ngIf="selectedRestrictedList && selectedRestrictedList.length >= 2"
                      class="example-additional-selection">
                      (+{{selectedRestrictedList[0].text == undefined ? selectedRestrictedList.length
                              - 2 :
                              selectedRestrictedList.length - 1 }}
                      {{selectedRestrictedList[0].text == undefined && selectedRestrictedList.length
                              === 3 ? 'other' :
                              selectedRestrictedList.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <span *ngIf="restrictedList && restrictedList.length > 1">
                    <mat-option #allRestrictionSelection (click)="toggleAllRestrictionSelection()" [value]="0">
                      All</mat-option>
                  </span>
                  <mat-option *ngFor="let option of restrictedList" [value]="option" (click)="togglePerOneRestriction()">
                    {{option.text}} </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="field_label">
                <h5>Description <span>&nbsp;(Remaining Characters: {{ 450 -
                  objServicesData?.Description?.length }})</span></h5>
              </div>
              <div [ngClass]="{
                        'has-danger': Description.invalid && (Description.dirty || Description.touched || serviceFormData.submitted),
                        'has-success': Description.valid && (Description.dirty || Description.touched )
                      }">
                <textarea required maxlength="450" class="form-control form-control-description"
                  [(ngModel)]="objServicesData.Description" trim-value #Description="ngModel" name="Description"
                  rows="4" tabindex="6" (blur)="onServiceDescriptionUpdated()"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div *ngIf="!isImageExist" class="upload_image_box square_img" (click)="showImageCropperDialog()">
            <i class="fal fa-cloud-upload"></i><br>
            <button type="button" class="save">Upload Image</button>
          </div>
          <div *ngIf="isImageExist && (imagePath && imagePath != '')" class="relative_cls sch_cls_img">
            <img src="{{imagePath}}" alt="no image" class="img-responsive" />
            <br>
            <div class="changeimg_btn square_img_action">
              <button type="button" (click)="showImageCropperDialog()"><i class="fal fa-pen"></i></button>
              <button class="delete_img" type="button" (click)="onDeleteImage()"
                *ngIf="objServicesData.ServiceID && objServicesData.ImagePath"><i class="fal fa-trash-alt"></i></button>
            </div>
          </div>

          <!-- <div class="genral_checkbox small-checkbox wrap_checkbox">
            <div style="border:none;" class="btn-group">
              <mat-slide-toggle class="example-margin" name="IsActive" tabindex="7" [(checked)]="objServicesData.IsActive"
                [(ngModel)]="objServicesData.IsActive" (ngModelChange)="onIsActiveChange()">
                {{objServicesData.IsActive ? 'Active': 'Inactive'}}
              </mat-slide-toggle>
            </div>
            <div class="checkbox checkbox-success float-right">
              <input id="IsOnline" tabindex="8" type="checkbox" class="example-margin" name="IsOnline" [(checked)]="objServicesData.IsOnline"
                [(ngModel)]="objServicesData.IsOnline" [disabled]="!objServicesData.IsActive" (ngModelChange)="onIsOnlineChange()">
              <label for="IsOnline">
                Show Online
              </label>
            </div>
            <div class="checkbox checkbox-success float-right">
              <input id="IsFeatured" tabindex="9" type="checkbox" class="example-margin" name="IsFeatured" [(checked)]="objServicesData.IsFeatured"
                [disabled]="!objServicesData.IsOnline" [(ngModel)]="objServicesData.IsFeatured">
              <label for="IsFeatured">
                Is Featured
              </label>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="white_bg">
      <div class="row">
        <div class="col-md-12">
          <div class="membership_title mob-payment-plan">
            <h3>Payments Plan</h3>
            <div class="membership_btn create_package float-right">
              <a role="button" (click)="addPaymentPlan()">
                <i class="fal fa-plus-circle"></i> Add New Payment</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row row_flex_alignment"
        *ngFor="let servicePackage of objServicesData.ServicePackageList; let ind=index">
        <div class="col-md-2 col-sm-6">
          <div class="field_label">
            <h5>Duration</h5>
          </div>
          <div [ngClass]="{
                            'has-danger': (DurationValue.invalid && !arePaymentPlansValid) && (DurationValue.dirty || DurationValue.touched || serviceFormData.submitted)
                          }">
            <input class="form-control" tabindex="10" type="number" min="{{minDuration}}" pattern="\d+"
              [(ngModel)]="servicePackage.DurationValue" (ngModelChange)="validatePaymentPlans()"
              (keypress)="preventDecimalValue($event)" #DurationValue="ngModel"
              name="{{'DurationValue' + paymentPlanID + ind}}" id="{{'DurationValue' + paymentPlanID + ind}}">
          </div>
        </div>
        <div class="col-md-2 col-sm-6 padding_right sm-pr-15">
          <div class="field_label">
            <h5>Period</h5>
          </div>
          <div [ngClass]="{
                        'has-danger': DurationTypeID.invalid && (DurationTypeID.dirty || DurationTypeID.touched || serviceFormData.submitted),
                        'has-success': DurationTypeID.valid && (DurationTypeID.dirty || DurationTypeID.touched )
                      }">
            <div class="select_label">
              <select class="form-control" [(ngModel)]="servicePackage.DurationTypeID" tabindex="11"
                name="{{'DurationTypeID' + paymentPlanID + ind}}" #DurationTypeID="ngModel" required>
                <option *ngFor="let objDurationType of durationTypeList" [ngValue]="objDurationType.DurationTypeID">
                  {{objDurationType.DurationTypeName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 ">
          <div class="field_label">
            <h5>Cost Price</h5>
          </div>
          <div [ngClass]="{
                            'has-danger': (CostPrice.invalid && !arePaymentPlansValid) && (CostPrice.dirty || CostPrice.touched || serviceFormData.submitted) || servicePackage.Cost == null
                          }">
            <div class="d-flex">
              <span class="dollar_prefix">{{currencyFormat}}</span>
              <input required class="form-control" type="number" min="{{minCostPrice}}" tabindex="12"
                [(ngModel)]="servicePackage.Cost" #CostPrice="ngModel" name="{{'CostPrice' + paymentPlanID  + ind}}"
                numberControl max="9999999999999" />
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 ">
          <div class="field_label">
            <h5>Price <span class="optional">(Excluding Tax)</span></h5>
          </div>
          <div [ngClass]="{
                            'has-danger': (Price.invalid && !arePaymentPlansValid) && (Price.dirty || Price.touched || serviceFormData.submitted)
                          }">
            <div class="d-flex">
              <span class="dollar_prefix">{{currencyFormat}}</span>
              <input required class="form-control" type="number" min="{{minPrice}}" tabindex="13"
                [(ngModel)]="servicePackage.Price" (ngModelChange)="getTotalAmount(); validatePaymentPlans();"
                #Price="ngModel" name="{{'Price' + paymentPlanID  + ind}}" numberControl max="9999999999999" />
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 non_input">
          <div class="field_label">
            <h5>Retail Price <span class="optional">(Including Tax)</span></h5>
          </div>
          <div class="d-flex">
            <span class="dollar_prefix">{{currencyFormat}}</span>
            <div class="readonly_price">{{servicePackage.TotalPrice}}</div>
            <!--| currency: currencyFormat --->
          </div>
          <!-- <div [ngClass]="{
                        'has-danger': TotalPrice.invalid && (TotalPrice.dirty || TotalPrice.touched || serviceFormData.submitted),
                        'has-success': TotalPrice.valid && (TotalPrice.dirty || TotalPrice.touched )
                      }">
            <input type="text" class="form-control" min="{{minTotalPrice}}" [(ngModel)]="servicePackage.TotalPrice"
              #TotalPrice="ngModel" name="{{'TotalPrice'+ paymentPlanID + ind}}" readonly />
          </div>-->
        </div>
        <div class="col-md-2 col-sm-6 space align_sp">

          <div *ngIf="showHidePriceLabel">
            <mat-slide-toggle name="{{'Chk_item' + ind }}"
            id="{{'Chk_item' + ind}}" [(checked)]="servicePackage.IsHidePriceOnline"
              [disabled]="!objServicesData.IsOnline" [(ngModel)]="servicePackage.IsHidePriceOnline" >
              Hide Price Online &nbsp;
              <!-- {{servicePackage.IsHidePriceOnline ? 'Yes': 'No'}} -->
            </mat-slide-toggle>
            <span class="info_tip"
              matTooltip="Toggle on to hide the price of this service on the widget & customer app."
              matTooltipPosition="above" matTooltipClass="custom-tooltip"><i class="far fa-info-circle"></i></span>
          </div>

          <div class="red_del del_box" *ngIf="showPaymentDeleteButton">
            <a role="button"
              (click)="onRemoveServicePackage(objServicesData.ServiceID, servicePackage.ServicePackageID, ind)">
              <i class="fal fa-trash-alt"></i>
            </a>
          </div>


        </div>

      </div>
    </div>
  </form>
</div>
