<form #serviceFormData="ngForm" (ngSubmit)="saveSchedulerService(serviceFormData.valid)" novalidate autocomplete="off">
  <div class="row popup_content cstm_scroll_bg sch_service_scroll no_padding">
    <div class="col-md-12">

      <div class="row sch_white_bg activity_person_info sticky_container" *ngIf="isClientReadonly">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <label class="field_label zero_margin"><i class="fal fa-user"
              aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.FullName}}
          </label>
          <span class="enq_status">{{selectedClient?.CustomerTypeName}}</span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="selectedClient?.Mobile">
          <label class="field_label zero_margin"><i class="fal fa-mobile"
              aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.Mobile}}</label>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <label class="field_label zero_margin"><i class="fal fa-envelope"
              aria-hidden="true"></i>&nbsp;&nbsp;{{selectedClient?.Email}}</label>
        </div>
        <div [ngClass]="selectedClient?.Mobile ? 'col-lg-2' : 'col-lg-5'"
          class="col-md-6 col-sm-6 text-right sch_badge tab-text-left">
          <p class="no_padding"> <a class="sch_service_close_btn" *ngIf="_cellDataSelection.id === 0"
              matTooltip="change customer" matTooltipPosition="above" matTooltipClass="custom-tooltip"
              (click)="showSearchClient()"><i class="fal fa-times-circle"></i></a></p>

        </div>
      </div>
      <div class="row sch_mob_reverse">
        <div class="col-lg-3 col-md-4 padding_left mob-pr-0 parallel_grid">
          <div class="sch_white_bg smallScheduler schedulerHeight">
            <one-day-scheduler *ngIf="isLoadOneDaySchecduler" [dayViewFormat]="dayViewFormat"
              [schedulerTimeFormat]="schedulerTimeFormat" [staffID]="_cellDataSelection.StaffID"
              [startDate]="currentDate" #onedaySchedulerComp>
            </one-day-scheduler>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 no_padding parallel_grid">
          <div class="smallScheduler schedulerHeight service_scheduler">
            <div class="sch_white_bg pt-2"
              *ngFor="let serviceObj of saveServicesModel.ServiceBookingList; let arrayIndex=index">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="alert alert-danger" *ngIf="isShowError && serviceObj?.showErrorText">
                    {{serviceObj.DateTimeCompareError}}</div>
                </div>
                <div class="w-100" *ngIf="hasMemberhsip">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <h5 class="field_label sch_lab">Select Membership</h5>
                      <div class="select_label">
                        <select class="form-control" [(ngModel)]="serviceObj.CustomerMembershipID"
                          id="{{'MembershipID' + arrayIndex}}" name="{{'MembershipID' + arrayIndex}}"
                          (change)="onMembershipChange($event, arrayIndex)">
                        
                            <option *ngFor="let membership of customerMembershipList"
                              [ngValue]="membership.CustomerMembershipID">
                              {{membership.MembershipName}}
                            </option>
                         
                          <option [ngValue]="null">
                            Apply No Membership
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Only select for checkout case-->
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label">Select Date</h5>
                  <date-picker [value]="serviceObj.StartDate" [required]="true" [showClear]="false"
                    (onDateChange)="onSelectDate_valueChanged(arrayIndex, $event);calculateDiscountAmountAndShowDifference(true)">
                  </date-picker>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label sch_lab">Select Service</h5>
                  <div
                    [ngClass]="{'has-danger': ((ServiceID.invalid || serviceObj.ServiceID == 0) && (serviceFormData.dirty || serviceFormData.touched || serviceFormData.submitted)) }">
                    <div class="select_label">
                      <select class="form-control" [(ngModel)]="serviceObj.ServiceID" id="{{'ServiceID' + arrayIndex}}"
                        name="{{'ServiceID' + arrayIndex}}" #ServiceID="ngModel"
                        (change)="onServiceChange($event, arrayIndex)" required>
                        <optgroup *ngFor="let serviceCategory of getServiceFundamentalList"
                          [label]="serviceCategory.ServiceCategoryName">
                          <!-- <option *ngFor="let service of serviceCategory.ServiceList" [ngValue]="service.ServiceID">
                            {{service.ServiceName}}
                          </option> -->
                          <!-----For active & In-Active services-->
                          <ng-container *ngFor="let service of serviceCategory.ServiceList">
                            <option *ngIf="serviceObj.ID > 0 && service.ServiceID == serviceObj.ServiceID" [ngValue]="service.ServiceID">
                                {{service.ServiceName}}
                            </option>
                            <option *ngIf="service.IsActive" [ngValue]="service.ServiceID">
                                {{service.ServiceName}}
                            </option>
                        </ng-container>  
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label sch_lab">Duration</h5>
                  <div
                    [ngClass]="{'has-danger': ((ServicePackageID.invalid || serviceObj.ServicePackageID == 0) && (serviceFormData.dirty || serviceFormData.touched || serviceFormData.submitted)) }">
                    <div class="select_label">
                      <select class="form-control" [(ngModel)]="serviceObj.ServicePackageID"
                        name="{{'ServicePackageID' + arrayIndex}}" #ServicePackageID="ngModel"
                        (ngModelChange)="onServicePackageChange(serviceObj, arrayIndex,ServicePackageID)" required>
                        <option
                          *ngFor="let servicepackage of ServicePackageList | servicePackageDurationFilter: serviceObj.ServiceID"
                          [ngValue]="servicepackage.ServicePackageID">
                          {{servicepackage.DurationValue}}
                          {{servicepackage.DurationTypeName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label">Start Time</h5>
                  <dx-date-box class="full_width" [type]="dateTimeType" [displayFormat]="schedulerTimeFormat"
                    [interval]="15" [(value)]="serviceObj.StartTime"
                    (onValueChanged)="startTime_valueChanged($event, serviceObj.ServicePackageID, arrayIndex)"
                    [showClearButton]="true" [useMaskBehavior]="true">
                    <dx-validator>
                      <dxi-validation-rule type="required" message="{{messages.Validation.StartTime_Required}}">
                      </dxi-validation-rule>
                    </dx-validator>
                  </dx-date-box>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label">End Time</h5>
                  <dx-date-box class="full_width" [type]="dateTimeType" [displayFormat]="schedulerTimeFormat"
                    [interval]="15" [(value)]="serviceObj.EndTime"
                    (onValueChanged)="endTime_valueChanged($event, arrayIndex)" [showClearButton]="true"
                    [useMaskBehavior]="true">
                    <dx-validator>
                      <dxi-validation-rule type="required" message="{{messages.Validation.EndTime_Required}}">
                      </dxi-validation-rule>
                    </dx-validator>
                  </dx-date-box>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <h5 class="field_label sch_lab">Staff</h5>
                  <div
                    [ngClass]="{'has-danger': ((StaffID.invalid || serviceObj.AssignedToStaffID == 0) && (serviceFormData.dirty || serviceFormData.touched || serviceFormData.submitted)) }">
                    <div class="select_label">
                      <select class="form-control" [(ngModel)]="serviceObj.AssignedToStaffID"
                        name="{{'StaffID'+ arrayIndex}}"
                        (ngModelChange)="onStaffChange(serviceObj.AssignedToStaffID);calculateDiscountAmountAndShowDifference(true)"
                        #StaffID="ngModel" required>
                        <option *ngFor="let staff of StaffList" [ngValue]="staff.StaffID">
                          {{staff.StaffFullName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="hasFacilityInPackage">
                  <h5 class="field_label sch_lab">Facility <span class="info_tip"
                      matTooltip="Selecting a facility helps avoid conflicts between your scheduled activities"
                      matTooltipPosition="above" matTooltipClass="custom-tooltip"><i
                        class="far fa-info-circle"></i></span></h5>
                  <div class="select_label">
                    <select class="form-control" name="{{'FacilityID'+ arrayIndex}}" [(ngModel)]="serviceObj.FacilityID"
                      #FacilityID="ngModel" tabindex="4"
                      (ngModelChange)="calculateDiscountAmountAndShowDifference(true)">
                      <option [value]="0">No Facility</option>
                      <option *ngFor="let facility of FacilityList" [ngValue]="facility.FacilityID">
                        {{facility.FacilityName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="row" *ngIf="serviceObj.Description">
                <div class="col-md-12">
                  <h5 class="field_label sch_lab">Notes <span>(Remaining Characters: {{ 250 -
                                            serviceObj?.Description?.length }})</span></h5>
                  <textarea [(ngModel)]="serviceObj.Description" name="{{'Description' + arrayIndex}}" rows="4"
                    class="ng-star-inserted" placeholder="your notes here." disabled="disabled"
                    maxlength="250"></textarea>

                  <div class="servece_del pt-2 float-right" *ngIf="serviceObj.ShowDeleteButton && serviceObj.ID == 0">
                    <a (click)="removeServiceObjectFormList(arrayIndex)">
                      <i aria-hidden="true" class="fal fa-trash-alt"></i>
                    </a>
                  </div>
                  <div class="clear-fix"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span class="benefit_status" *ngIf="serviceObj.BenefitsStatus == 'F'"> This benefit
                    is part of a frozen membership <i class="fas fa-exclamation-triangle float-right"></i></span>
                  <span class="benefit_status" *ngIf="serviceObj.BenefitsStatus == 'S'"> This benefit
                    is part of a suspended membership <i class="fas fa-exclamation-triangle float-right"></i></span>
                </div>
              </div>
              <div class="row">
                    <div class="col-md-12 col-sm-12" *ngIf="isPurchaseRestrictionAllowed && serviceObj?.RestrictedCustomerTypeNames">
                      <div class="d-flex align-items-center alert alert-warning p-2 content-sm-reg mb-0">
                        <i class="fal fa-registered brown-color pr-2 font-size-medium" aria-hidden="true"></i>
                        <span>Purchase is restricted. {{serviceObj?.RestrictedCustomerTypeNames}} cannot purchase this item.</span>
                      </div>
                    </div>
                <div class="col-md-12" *ngIf="serviceObj.itemDurationNote">
                  <div class="row sch_duration_text align-items-center">
                    <div class="col-lg-7 col-md-12 p-0">
                      <p>{{serviceObj.itemDurationNote}}
                        <span *ngIf="serviceObj.IsMultiItem" matTooltip="Part of service. Please look at invoice."
                          class="info_tip" matTooltipPosition="above" matTooltipClass="custom-tooltip">
                          <i class="far fa-info-circle"></i>
                        </span>
                      </p>
                    </div>
                    <div class="col-lg-5 col-md-12 pr-0 d-flex md-block justify-content-between text-right font-medium">
                      <p>
                        <span *ngIf="priceDifference?.Amount">
                          Reschedule Difference : {{priceDifference.Amount | currency: currencyFormat}}
                        </span>
                      </p>
                      <p>{{serviceObj.SaleStatusTypeName}}: {{serviceObj.TotalAmountPaid | currency: currencyFormat}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="serviceObj.ID > 0">
                <div class="col-md-12">
                  <div class="sch_service_action service relative_cls">
                    <div class="row">
                      <div class="col-sm-3 col-xs-12 pl-0 pr-2">
                        <ng-container *ngIf="serviceObj.BookingStatusTypeID !== enumServiceStatusBooked.NoShow">
                          <mat-select tabindex="9"
                            class="form-control select_label bookingStatusDropdown schedulerServiceBookingDropDown mt-2"
                            [ngClass]="{'statusBooked': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.Booked,
                                                'statusNotConfirmed': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.NotConfirmed,
                                                'statusConfirmed': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.Confirmed,
                                                'statusChecked-In': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.CheckedInByStaff,
                                                'statusReadyToStart': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.ReadyToStart,
                                                'statusInProgress': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.InProgress,
                                                'statusNoShow': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.NoShow,
                                                'statusCompleted': serviceObj.BookingStatusTypeID === enumServiceStatusBooked.Completed }"
                            [(ngModel)]="serviceObj.BookingStatusTypeID" name="{{'bookingStatusId' + arrayIndex}}"
                            #oldBookingStatusID="ngModel" disableOptionCentering
                            panelClass="bookingStatusOptions withBorder" [disabled]="true">
                            <mat-option *ngFor="let option of bookingStatusOptions" [value]="option.BookingStatusTypeID"
                              class="{{option.BookingStatusTypeName}}">
                              {{option.BookingStatusTypeName}}</mat-option>
                          </mat-select>
                        </ng-container>
                        <button type="button" class="btn NoShowLabel w-100 text-left pl-3 mr-10"
                          *ngIf="serviceObj.BookingStatusTypeID === enumServiceStatusBooked.NoShow">{{serviceObj.BookingStatusTypeName}}</button>
                      </div>
                      <button type="button"
                        *ngIf="selectedClient && !selectedClient.IsWalkedIn && allowedPages.viewForm"
                        class="us-sch-dot us-dot" [ngClass]="{   '' : !serviceObj.HasUnSubmittedForm,
                                                                                    'mandatory-status' : serviceObj.HasUnSubmittedForm && serviceObj.HasAtleastOneMandatoryForm,
                                                                                    'non-mandatory-status' : serviceObj.HasUnSubmittedForm && !serviceObj.HasAtleastOneMandatoryForm
                                                                                }"
                        (click)="openServiceEditSubmitCustomerFormDialog(arrayIndex)">
                        <i class="fal fa-file-signature"></i>&nbsp;
                        Forms
                      </button>

                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="serviceObj.ID == 0" class="col-md-12 sch_service_action">
                <button type="button" *ngIf="(selectedClient && !selectedClient.IsWalkedIn) && serviceObj.HasForm"
                  class="us-sch-dot us-dot" [ngClass]="{   '' : (!serviceObj.HasUnSubmittedForm || !serviceObj.HasForm),
                                                'mandatory-status' : (!serviceObj.HasUnSubmittedForm || serviceObj.HasForm) && serviceObj.HasAtleastOneMandatoryForm,
                                                'non-mandatory-status' : (!serviceObj.HasUnSubmittedForm || serviceObj.HasForm) && !serviceObj.HasAtleastOneMandatoryForm
                                            }" (click)="openSubmitCustomerFormDialog(arrayIndex,serviceObj.ID)">
                  <i class="fal fa-file-signature"></i>&nbsp;
                  Forms
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row popup_footer">
    <div class="col-lg-12 col-md-12">
      <div class="cancel_btn float-right">
        <button type="button" (click)="onCloseSchedulerServicePopup()">Cancel</button>
        <button type="button" (click)="rescheduleService(saveServicesModel.ServiceBookingList[0], serviceFormData.valid)"
          class="save primary_blue_btn" [disabled]="serviceFormData.form.pristine">Reschedule</button>
      </div>
      <div class="small_space"></div>
    </div>
  </div>
</form>
